force-app/main/default/flows/FIN_Library_Association_Wizard.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assigne_New_Tier</name>
        <label>Assigne New Tier</label>
        <locationX>1650</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>New_Consumption_Rate_Record.ProcessingOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Processing_Order_Screen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Consumption_Rate_Record.LowerBound</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lower_Bound_Screen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Consumption_Rate_Record.UpperBound</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Upper_Bound_Screen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Consumption_Rate_Record.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description_Screen_Tier</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Consumption_Rate_Record.PricingMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pricing_Method_Screen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Consumption_Rate_Record.ConsumptionScheduleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consumption_Schedule_Tier_Lookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Consumption_Rate_Record.Price</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Price_Tier_Screen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assigne_New_Tier_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigne_New_Tier_To_Collection</name>
        <label>Assigne New Tier To Collection</label>
        <locationX>1650</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>Collection_Consumption_Rate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>New_Consumption_Rate_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Tier_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignee_Contracted_Product</name>
        <label>Assignee Contracted Product</label>
        <locationX>182</locationX>
        <locationY>2318</locationY>
        <assignmentItems>
            <assignToReference>New_Contracted_Component_Record.SBQQ__Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Contracted_Component_Record.SBQQ__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract_Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Contracted_Component_Record.FIN_Context__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Context_Component_Lookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Contracted_Component_Record.FIN_Fee_and_Component__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ticket_Price_and_Component_Screen_Component</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Contracted_Component_Record.FIN_Ticket_price_Component__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fee_and_Component_Screen_Component</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Contracted_Component_Record.FIN_Financial_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Financial_Code_Lookup_Component.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Contracted_Component_Record.Product_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Type_Description_Screen_Component</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Contracted_Component_Record.FIN_Consumption_Schedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consumption_Schedule_Lookup_Component.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Contracted_Component_Record.FIN_TicketCategories__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ticket_Categories_Screen_Component</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Contracted_Component_Record.SBQQ__Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Price_Screen_Component</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Contracted_Component_Record.SBQQ__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description_Screen_Component</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Contracted_Component_Record.FIN_Concept_Use__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Concept_Use_Screen_Component</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Contracted_Component_Record.SBQQ__EffectiveDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Effective_Date_Screen_Component</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Contracted_Component_Record.SBQQ__ExpirationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expiration_Date_Screen_Component</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Contracted_Component_Record.FIN_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fee_Lookup_Component.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Contracted_Component_Record.FIN_Fee_Component__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fee_Component_Lookup_Component.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Contracted_Component_Record.FIN_FeeType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fee_Component_Type_Screen_Component</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Contracted_Component_Record.SBQQ__Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Lookup_Component.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Contracted_Component_Record.FIN_ComponentOf__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Component_Of_Lookup_Component.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Contracted_Component_Record.FIN_Split__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Split_CheckBox_Screen_Component</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Contracted_Component_Record.FIN_SplitCount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Split_Count_Screen_Component</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Contracted_Component_Record.FIN_SplitPercentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Split_Percentage_Screen_Component</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Contracted_Component_Record.FIN_Component_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Component_Key_Component</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Contracted_Component_Record.FIN_Financial_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Financial_Code_Lookup_Component.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Contracted_Component_Record.Fulfillment_Process__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fulfillment_Process_Screen_Component</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Contracted_Component_Record.FIN_Payee_Legal_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payee_Lookup_Compoent.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Contracted_Component_Record.FIN_Remittance_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Remittance_Account_Lookup_Component.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Contracted_Component_Record.FIN_Revenue_Center_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Revenue_Center_Lookup_Component.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assigne_Association_Type_Depend_of_Action</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignee_Loop_Increase</name>
        <label>Assignee Loop Increase</label>
        <locationX>512</locationX>
        <locationY>3014</locationY>
        <assignmentItems>
            <assignToReference>Numb_Of_Loop_Incrementation</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contracted_Component_Decision_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignee_New_Contracted_Component_Clean</name>
        <label>Assignee New Contracted Component Clean</label>
        <locationX>182</locationX>
        <locationY>3806</locationY>
        <assignmentItems>
            <assignToReference>Collection_Contracted_Component</assignToReference>
            <operator>RemoveAll</operator>
        </assignmentItems>
        <connector>
            <targetReference>Clon_Or_Create_Action_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignee_New_Contracted_Component_to_Collection</name>
        <label>Assignee New Contracted Component to Collection</label>
        <locationX>182</locationX>
        <locationY>2774</locationY>
        <assignmentItems>
            <assignToReference>Collection_Contracted_Component</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>New_Contracted_Component_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Break_Loop_or_Continue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignee_that_Contracted_Product_was_Created</name>
        <label>Assignee that Contracted Product was Created</label>
        <locationX>2379</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Numb_Of_Loop_Incrementation</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Acumulator</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Association_Type_fprFee_Ticket_Uplif</name>
        <label>Assignment Association Type for Fee Ticket Uplif</label>
        <locationX>314</locationX>
        <locationY>2558</locationY>
        <assignmentItems>
            <assignToReference>New_Contracted_Component_Record.Association_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Association_Type_Component_Screen_Require</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Contracted_Component_Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type_Component.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignee_New_Contracted_Component_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Association_Type_New</name>
        <label>Assignment Association Type</label>
        <locationX>50</locationX>
        <locationY>2558</locationY>
        <assignmentItems>
            <assignToReference>New_Contracted_Component_Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type_Component_Fee.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Contracted_Component_Record.Association_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fee</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignee_New_Contracted_Component_to_Collection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Back_to_Wizard</name>
        <choiceText>Back to Wizard</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Back_to_Wizard_Choise</elementReference>
        </value>
    </choices>
    <choices>
        <name>Clone_Contracted_Component</name>
        <choiceText>Clone Contracted Component</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Clone_Contracted_Component_Choise</elementReference>
        </value>
    </choices>
    <choices>
        <name>Clone_this_Library_Association</name>
        <choiceText>Clone this Library Association</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Clone_This_Library_Association_Choise</elementReference>
        </value>
    </choices>
    <choices>
        <name>Create_Anothe_Contracted_Product</name>
        <choiceText>Create another Contracted Product</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Create_another_Contracted_Product_Choice</elementReference>
        </value>
    </choices>
    <choices>
        <name>Create_Base_Library_Association</name>
        <choiceText>Create Base Library Association</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Create_Base_Library_Association_Choise</elementReference>
        </value>
    </choices>
    <choices>
        <name>Create_Contracted_Component</name>
        <choiceText>Create new Contracted Component</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Create_Another_Contracted_Component_Choise</elementReference>
        </value>
    </choices>
    <choices>
        <name>Create_Fee_Component_Product</name>
        <choiceText>Create Fee/Component Product</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Create_Fee_Component_Product_Choice</elementReference>
        </value>
    </choices>
    <choices>
        <name>Create_Fee_Ticket_or_Uplift_Component</name>
        <choiceText>Create Fee, Ticket or Uplift Component</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Create_Fee_Ticket_or_Uplift_Component_Choise</elementReference>
        </value>
    </choices>
    <choices>
        <name>Fee_Choice</name>
        <choiceText>Fee</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fee</stringValue>
        </value>
    </choices>
    <choices>
        <name>Merchandise_Choice</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Merchandise&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Merchandise</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Add_Accumulator</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>No_Add_Accumulator_Choice</elementReference>
        </value>
    </choices>
    <choices>
        <name>No_Add_Tier</name>
        <choiceText>All Rates have been added.</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>No_Add_Tier_Choice</elementReference>
        </value>
    </choices>
    <choices>
        <name>No_More_Products_To_Add</name>
        <choiceText>No more products to add</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>No_More_Products_To_Add_Choise</elementReference>
        </value>
    </choices>
    <choices>
        <name>No_More_ProductsTo_Add_Product</name>
        <choiceText>No more products to add</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>No_More_Products_To_Add_Choise</elementReference>
        </value>
    </choices>
    <choices>
        <name>Ticket_Choice</name>
        <choiceText>Ticket</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ticket</stringValue>
        </value>
    </choices>
    <choices>
        <name>Uplift_Choice</name>
        <choiceText>Uplift</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Uplift</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Add_Accumulator</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Yes_Add_Accumulator_Choice</elementReference>
        </value>
    </choices>
    <choices>
        <name>Yes_Add_Tier</name>
        <choiceText>Add another Rate.</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Yes_Add_Tier_Choise</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Assigne_Association_Type_Depend_of_Action</name>
        <label>Assigne Association Type Depend of Action</label>
        <locationX>182</locationX>
        <locationY>2438</locationY>
        <defaultConnector>
            <targetReference>Assignment_Association_Type_fprFee_Ticket_Uplif</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Fee_Ticket_or_Uplift_Dec</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Create_Clone_Contracted_Component_RadioButton</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create_Fee_Ticket_or_Uplift_Component_Choise</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Create_Clone_Contracted_Component_RadioButton2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_Fee_Ticket_or_Uplift_Component_Choise</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Association_Type_Component_Screen_Require</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Association_Type_New</targetReference>
            </connector>
            <label>Create Fee Ticket or Uplift</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Add_Accumulator</name>
        <label>Check Add Accumulator</label>
        <locationX>2379</locationX>
        <locationY>878</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Accumulators_RadioButton</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_Add_Accumulator_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Consumption_Schedule</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Accumulators_RadioButton</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_Add_Accumulator_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Record_Type_Component</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Collection_Is_Not_Empty</name>
        <label>Check If Collection Is Not Empty</label>
        <locationX>985</locationX>
        <locationY>1718</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Clon_Or_Create_Action_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Collection_Consumption_Rate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Consumptions_Rate</targetReference>
            </connector>
            <label>No Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_New_Tier_Decision</name>
        <label>Create_New_Tier_Decision</label>
        <locationX>1650</locationX>
        <locationY>1598</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>add_Tier_Radio_Button</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_Add_Tier_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_Collection_Is_Not_Empty</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>add_Tier_Radio_Button</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_Add_Tier_Choise</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>New_Consumption_Rate_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Break_Loop_or_Continue</name>
        <label>Decision Break Loop or Continue</label>
        <locationX>182</locationX>
        <locationY>2894</locationY>
        <defaultConnector>
            <targetReference>Assignee_Loop_Increase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Break</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Create_Clone_Contracted_Component_RadioButton</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_Fee_Ticket_or_Uplift_Component_Choise</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Create_Clone_Contracted_Component_RadioButton2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_Fee_Ticket_or_Uplift_Component_Choise</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Fourth_Step_RadioButton</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_Fee_Ticket_or_Uplift_Component_Choise</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Contracted_Components</targetReference>
            </connector>
            <label>Break</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Contracted_Component</name>
        <label>Decision Contracted Component</label>
        <locationX>512</locationX>
        <locationY>3254</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Another_Contracted_Component_Decision</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Create_Clone_Contracted_Component_RadioButton</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_Another_Contracted_Component_Choise</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Create_Clone_Contracted_Component_RadioButton2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_Another_Contracted_Component_Choise</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Product_Component_Screen_Component</targetReference>
            </connector>
            <label>Create Another Contracted Component Decision</label>
        </rules>
        <rules>
            <name>Clone_Contracted_Component_Decision</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Create_Clone_Contracted_Component_RadioButton</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Clone_Contracted_Component_Choise</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Create_Clone_Contracted_Component_RadioButton2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Clone_Contracted_Component_Choise</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Product_Component_Screen_Component</targetReference>
            </connector>
            <label>Clone Contracted Component Decision</label>
        </rules>
        <rules>
            <name>Create_Fee_Ticket_or_Uplift_Component_Decision</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Create_Clone_Contracted_Component_RadioButton</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_Fee_Ticket_or_Uplift_Component_Choise</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Create_Clone_Contracted_Component_RadioButton2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_Fee_Ticket_or_Uplift_Component_Choise</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Product_Component_Screen_Component</targetReference>
            </connector>
            <label>Create_Fee_Ticket_or_Uplift_Component</label>
        </rules>
        <rules>
            <name>Back_to_Wizard_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Clone_Contracted_Component_RadioButton</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Back_to_Wizard_Choise</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Contracted_Components</targetReference>
            </connector>
            <label>Back to Wizard</label>
        </rules>
    </decisions>
    <decisions>
        <name>Last_Step_Decision</name>
        <label>Last Step Decision</label>
        <locationX>182</locationX>
        <locationY>4046</locationY>
        <defaultConnector>
            <targetReference>Success_Screen_Contracted_Price</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Fee_Ticket_or_Upli_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fourth_Step_RadioButton</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_Fee_Ticket_or_Uplift_Component_Choise</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Product_Component_Screen_Component</targetReference>
            </connector>
            <label>Create  Fee Ticket or Uplift Component</label>
        </rules>
        <rules>
            <name>Clone_Contracted_Product_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fourth_Step_RadioButton</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Clone_This_Library_Association_Choise</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>New_Contracted_Price_Screen</targetReference>
            </connector>
            <label>Clone</label>
        </rules>
        <rules>
            <name>Create_Base_Contracted_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fourth_Step_RadioButton</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_Base_Library_Association_Choise</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>New_Contracted_Price_Screen</targetReference>
            </connector>
            <label>Create Base Contracted Price</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Accumulator_Type_PickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Accumulator_Type__c</picklistField>
        <picklistObject>ConsumptionSchedule</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ApprovalStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FIN_ApprovalStatus__c</picklistField>
        <picklistObject>SBQQ__ContractedPrice__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Asset_Amendment_Behavior_PickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SBQQ__AssetAmendmentBehavior__c</picklistField>
        <picklistObject>Product2</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Asset_Conversion_PickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SBQQ__AssetConversion__c</picklistField>
        <picklistObject>Product2</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Association_Type_PickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Association_Type__c</picklistField>
        <picklistObject>SBQQ__ContractedPrice__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Billing_Term_Unit_PickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BillingTermUnit</picklistField>
        <picklistObject>ConsumptionSchedule</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Block_Pricing_Field_PickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SBQQ__BlockPricingField__c</picklistField>
        <picklistObject>Product2</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Category_PickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SBQQ__Category__c</picklistField>
        <picklistObject>ConsumptionSchedule</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Channel_PickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FIN_Channel__c</picklistField>
        <picklistObject>SBQQ__ContractedPrice__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Component_Type_PickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FIN_Fee_and_Component__c</picklistField>
        <picklistObject>SBQQ__ContractedPrice__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Concept_Use_PickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FIN_Concept_Use__c</picklistField>
        <picklistObject>SBQQ__ContractedPrice__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Conditional_Logic_PickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FIN_Conditional_Logic__c</picklistField>
        <picklistObject>ConsumptionSchedule</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Configuration_Event_PickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SBQQ__ConfigurationEvent__c</picklistField>
        <picklistObject>Product2</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Configuration_Type_PickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SBQQ__ConfigurationType__c</picklistField>
        <picklistObject>Product2</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Currency_PickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CurrencyIsoCode</picklistField>
        <picklistObject>SBQQ__ContractedPrice__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Customer_Community_Availability_PickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SBQQ__CustomerCommunityAvailability__c</picklistField>
        <picklistObject>Product2</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Fee_and_Component_PickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FIN_Fee_and_Component__c</picklistField>
        <picklistObject>SBQQ__ContractedPrice__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Fee_Component_Type_PickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FIN_FeeType__c</picklistField>
        <picklistObject>SBQQ__ContractedPrice__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Filter_Field_PickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SBQQ__FilterField__c</picklistField>
        <picklistObject>SBQQ__ContractedPrice__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Fulfillment_Process_PickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Fulfillment_Process__c</picklistField>
        <picklistObject>SBQQ__ContractedPrice__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Operator_PickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SBQQ__Operator__c</picklistField>
        <picklistObject>SBQQ__ContractedPrice__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Option_Layout_PickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SBQQ__OptionLayout__c</picklistField>
        <picklistObject>Product2</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Option_Selection_Method_PickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SBQQ__OptionSelectionMethod__c</picklistField>
        <picklistObject>Product2</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Percent_Of_Total_Base_PickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SBQQ__SubscriptionBase__c</picklistField>
        <picklistObject>Product2</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Percent_Of_Total_Category_PickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SBQQ__SubscriptionCategory__c</picklistField>
        <picklistObject>Product2</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Percent_Of_Total_Constraint_PickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SBQQ__DynamicPricingConstraint__c</picklistField>
        <picklistObject>Product2</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Pricing_Method_PickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PricingMethod</picklistField>
        <picklistObject>ConsumptionRate</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Pricing_Method_Product_PickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SBQQ__PricingMethod__c</picklistField>
        <picklistObject>Product2</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Product_Family_PickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Family</picklistField>
        <picklistObject>Product2</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Product_Type_Description_PickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Product_Type__c</picklistField>
        <picklistObject>SBQQ__ContractedPrice__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Rating_Method_PickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>RatingMethod</picklistField>
        <picklistObject>ConsumptionSchedule</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Region_pickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FIN_Region__c</picklistField>
        <picklistObject>SBQQ__ContractedPrice__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Region_Product_PickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FIN_Region__c</picklistField>
        <picklistObject>Product2</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Remittance_Account_PickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Remittance_Account__c</picklistField>
        <picklistObject>SBQQ__ContractedPrice__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Subscription_Pricing_PickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SBQQ__SubscriptionPricing__c</picklistField>
        <picklistObject>Product2</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Subscription_Type_PickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SBQQ__SubscriptionType__c</picklistField>
        <picklistObject>Product2</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Term_Discount_Level_PickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SBQQ__TermDiscountLevel__c</picklistField>
        <picklistObject>Product2</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Ticket_Categories_PickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FIN_TicketCategories__c</picklistField>
        <picklistObject>SBQQ__ContractedPrice__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Ticket_Category_PickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FIN_TicketCategories__c</picklistField>
        <picklistObject>SBQQ__ContractedPrice__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Ticket_Price_and_Component_PickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FIN_Ticket_price_Component__c</picklistField>
        <picklistObject>SBQQ__ContractedPrice__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Ticket_Type_Categories_Primary_PickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FIN_TicketType_Primary__c</picklistField>
        <picklistObject>SBQQ__ContractedPrice__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Type_PickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>ConsumptionSchedule</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Zone_Type_PickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FIN_ZoneType__c</picklistField>
        <picklistObject>SBQQ__ContractedPrice__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Assigned_RecordType_Id</name>
        <dataType>String</dataType>
        <expression>IF({!Create_Fee_Ticket_or_Upli_Decision} == TRUE, {!Get_Record_Type_Component_Fee.Id}, {!Get_Record_Type_Component.Id})</expression>
    </formulas>
    <formulas>
        <name>Formula_Account_Lookup_Clone</name>
        <dataType>String</dataType>
        <expression>IF({!Clone_Contracted_Product_Decision} ,{!Account_Lookup.recordId},null)</expression>
    </formulas>
    <formulas>
        <name>Formula_Applied_Consumption_Rate_Screen_Component_Is_Clone</name>
        <dataType>Number</dataType>
        <expression>IF({!Clone_Contracted_Component_Decision} ,  {!Applied_Consumption_Rate_Screen_Component},null)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Formula_Association_Type_Component_Is_Clone</name>
        <dataType>String</dataType>
        <expression>IF({!Clone_Contracted_Component_Decision} ,{!Association_Type_Component_Screen_Require},null)</expression>
    </formulas>
    <formulas>
        <name>Formula_Base_Association_Type_Screen_Is_Clone</name>
        <dataType>String</dataType>
        <expression>IF({!Clone_Contracted_Product_Decision} ,{!Association_Type_Screen},null)</expression>
    </formulas>
    <formulas>
        <name>Formula_Base_Concept_Use_Screen_Is_Clone</name>
        <dataType>String</dataType>
        <expression>IF({!Clone_Contracted_Product_Decision} , {!Concept_Use_Screen} ,null)</expression>
    </formulas>
    <formulas>
        <name>Formula_Base_Consumption_Schedule_Lookup_Is_Clone</name>
        <dataType>String</dataType>
        <expression>IF({!Clone_Contracted_Product_Decision} ,{!Consumption_Schedule_Lookup.recordId}  ,null)</expression>
    </formulas>
    <formulas>
        <name>Formula_Base_Context_Lookup_Is_Clone</name>
        <dataType>String</dataType>
        <expression>IF({!Clone_Contracted_Product_Decision} , {!Context_Lookup.recordId} ,null)</expression>
    </formulas>
    <formulas>
        <name>Formula_Base_Currency_Screen_Is_Clone</name>
        <dataType>String</dataType>
        <expression>IF({!Clone_Contracted_Product_Decision} , {!Currency_Screen} ,&apos;USD&apos;)</expression>
    </formulas>
    <formulas>
        <name>Formula_Base_Description_Is_Clone</name>
        <dataType>String</dataType>
        <expression>IF({!Clone_Contracted_Product_Decision} ,{!Description_Contracted_Price_Screen},null)</expression>
    </formulas>
    <formulas>
        <name>Formula_Base_Effective_Date_Screen_Is_Clone</name>
        <dataType>Date</dataType>
        <expression>IF({!Clone_Contracted_Product_Decision} , {!Effective_Date_Screen} ,null)</expression>
    </formulas>
    <formulas>
        <name>Formula_Base_Expiration_Date_Screen_Is_Clone</name>
        <dataType>Date</dataType>
        <expression>IF({!Clone_Contracted_Product_Decision} ,  {!Expiration_Date_Screen},null)</expression>
    </formulas>
    <formulas>
        <name>Formula_Base_Fee_and_Component_Screen_Is_Clone</name>
        <dataType>String</dataType>
        <expression>IF({!Clone_Contracted_Product_Decision} ,{!Fee_and_Component_Screen}  ,null)</expression>
    </formulas>
    <formulas>
        <name>Formula_Base_Fee_Component_Type_Screen_Is_Clone</name>
        <dataType>String</dataType>
        <expression>IF({!Clone_Contracted_Product_Decision} ,{!Fee_Component_Type_Screen}  ,null)</expression>
    </formulas>
    <formulas>
        <name>Formula_Base_Fulfillment_Process_Screen_Is_Clone</name>
        <dataType>String</dataType>
        <expression>IF({!Clone_Contracted_Product_Decision} , {!Fulfillment_Process_Screen} ,null)</expression>
    </formulas>
    <formulas>
        <name>Formula_Base_Price_Screen_Is_Clone</name>
        <dataType>Number</dataType>
        <expression>IF({!Clone_Contracted_Product_Decision} ,{!Price_Screen}  ,null)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Formula_Base_Product_Type_Description_Screen_Is_Clone</name>
        <dataType>String</dataType>
        <expression>IF({!Clone_Contracted_Product_Decision} ,{!Product_Type_Description_Screen}  ,null)</expression>
    </formulas>
    <formulas>
        <name>Formula_Base_Product_Type_Screen_Is_Clone</name>
        <dataType>Number</dataType>
        <expression>IF({!Clone_Contracted_Product_Decision} , {!Product_Type_Screen} ,null)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Formula_Base_Region_Screen_Is_Clone</name>
        <dataType>String</dataType>
        <expression>IF({!Clone_Contracted_Product_Decision} ,{!Region_Screen}  ,null)</expression>
    </formulas>
    <formulas>
        <name>Formula_Base_Regional_Standard_Lookup_Is_Clone</name>
        <dataType>String</dataType>
        <expression>IF({!Clone_Contracted_Product_Decision} , {!Financial_Code_Lookup.recordId} ,null)</expression>
    </formulas>
    <formulas>
        <name>Formula_Base_Revenue_Center_Lookup_Is_Clone</name>
        <dataType>String</dataType>
        <expression>IF({!Clone_Contracted_Product_Decision} ,  {!Revenue_Center_Lookup.recordId},null)</expression>
    </formulas>
    <formulas>
        <name>Formula_Base_Split_CheckBox_Screen_Is_Clone</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Clone_Contracted_Product_Decision} ,{!Split_CheckBox_Screen}  ,false)</expression>
    </formulas>
    <formulas>
        <name>Formula_Base_Split_Count_Screen_Is_Clone</name>
        <dataType>Number</dataType>
        <expression>IF({!Clone_Contracted_Product_Decision} ,{!Split_Count_Screen}  ,null)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Formula_Base_Split_Percentage_Screen_Is_Clone</name>
        <dataType>Number</dataType>
        <expression>IF({!Clone_Contracted_Product_Decision} ,  {!Split_Percentage_Screen},null)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Formula_Base_Ticket_Categories_Screen_Is_Clone</name>
        <dataType>String</dataType>
        <expression>IF({!Clone_Contracted_Product_Decision} , {!Ticket_Categories_Screen} ,null)</expression>
    </formulas>
    <formulas>
        <name>Formula_Base_Ticket_Price_and_Component_Screen_Is_Clone</name>
        <dataType>String</dataType>
        <expression>IF({!Clone_Contracted_Product_Decision} , {!Ticket_Price_and_Component_Screen} ,null)</expression>
    </formulas>
    <formulas>
        <name>Formula_Billing_Term_Validation</name>
        <dataType>Boolean</dataType>
        <expression>if((({!Billing_Term_Unit_Screen}==&quot;Month&quot;) &amp;&amp;({!Billing_Term_Screen} &gt;60)), false,
    if((({!Billing_Term_Unit_Screen}==&quot;Quarter&quot;) &amp;&amp;({!Billing_Term_Screen} &gt;20)), false, 
      if((({!Billing_Term_Unit_Screen}==&quot;Year&quot;) &amp;&amp;({!Billing_Term_Screen} &gt;5)), false, true
  )
 )
)</expression>
    </formulas>
    <formulas>
        <name>Formula_ComponentOf_Lookup</name>
        <dataType>String</dataType>
        <expression>IF({!Clone_Contracted_Component_Decision} ,{!Component_Of_Lookup_Component.recordId},null)</expression>
    </formulas>
    <formulas>
        <name>Formula_Concept_Use_Screen_Component_Is_Clone</name>
        <dataType>String</dataType>
        <expression>IF({!Clone_Contracted_Component_Decision} ,{!Concept_Use_Screen_Component},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>Formula_Consumption_Schedule_Lookup_Component_Is_Clone</name>
        <dataType>String</dataType>
        <expression>IF({!Clone_Contracted_Component_Decision} ,{!Consumption_Schedule_Lookup_Component.recordId},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>Formula_Context_Component_Is_Clone</name>
        <dataType>String</dataType>
        <expression>IF({!Clone_Contracted_Component_Decision} ,{!Context_Component_Lookup.recordId},null)</expression>
    </formulas>
    <formulas>
        <name>Formula_Continue_Loop_Or_Create_Fee_Ticket_Uplift</name>
        <dataType>String</dataType>
        <expression>If ( ({!Create_Clone_Contracted_Component_RadioButton} == {!Create_Fee_Ticket_or_Uplift_Component_Choise} || {!Create_Clone_Contracted_Component_RadioButton2} == {!Create_Fee_Ticket_or_Uplift_Component_Choise} ||
{!Create_Fee_Ticket_or_Upli_Decision}),
&quot;Create Fee, Ticket or Uplift Component&quot;,
{!Var_Label_Create_5_Library_Association}
)</expression>
    </formulas>
    <formulas>
        <name>Formula_Description_Screen_Component_Is_Clone</name>
        <dataType>String</dataType>
        <expression>IF({!Clone_Contracted_Component_Decision} ,{!Description_Screen_Component},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>Formula_Effective_Date_Screen_Component_Is_Clone</name>
        <dataType>Date</dataType>
        <expression>IF({!Clone_Contracted_Component_Decision} ,{!Effective_Date_Screen_Component},null)</expression>
    </formulas>
    <formulas>
        <name>Formula_Expiration_Date_Screen_Component_Is_Clone</name>
        <dataType>Date</dataType>
        <expression>IF({!Clone_Contracted_Component_Decision} ,{!Expiration_Date_Screen_Component},null)</expression>
    </formulas>
    <formulas>
        <name>Formula_Fee_Component_Lookup_Component_Is_Clone</name>
        <dataType>String</dataType>
        <expression>IF({!Clone_Contracted_Component_Decision} ,{!Fee_Component_Lookup_Component.recordId},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>Formula_Fee_Component_Type_Screen_Component_Is_Clone</name>
        <dataType>String</dataType>
        <expression>IF({!Clone_Contracted_Component_Decision} ,{!Fee_Component_Type_Screen_Component},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>Formula_Fee_Lookup_Component_Is_Clone</name>
        <dataType>String</dataType>
        <expression>IF({!Clone_Contracted_Component_Decision} ,{!Fee_Lookup_Component.recordId},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>Formula_Fulfillment_Process_Screen_Component_Is_Clone</name>
        <dataType>String</dataType>
        <expression>IF({!Clone_Contracted_Component_Decision} , {!Fulfillment_Process_Screen_Component} ,null)</expression>
    </formulas>
    <formulas>
        <name>Formula_Ordinals</name>
        <dataType>String</dataType>
        <expression>CASE({!Numb_Of_Loop_Incrementation},
1, &quot;st&quot;,
2, &quot;nd&quot;,
3, &quot;rd&quot;, 
&quot;th&quot;)</expression>
    </formulas>
    <formulas>
        <name>Formula_Payee_Lookup_Component_Is_Clone</name>
        <dataType>String</dataType>
        <expression>IF({!Clone_Contracted_Component_Decision} , {!Payee_Lookup_Compoent.recordId} ,null)</expression>
    </formulas>
    <formulas>
        <name>Formula_Price_Screen_Component_Is_Clone</name>
        <dataType>Number</dataType>
        <expression>IF({!Clone_Contracted_Component_Decision} ,{!Price_Screen_Component},null)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Formula_Product_Lookup_Component_Is_Clone</name>
        <dataType>String</dataType>
        <expression>IF({!Clone_Contracted_Component_Decision} ,{!Product_Lookup_Component.recordId},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>Formula_Product_Type_Description_Screen_Component_Is_Clone</name>
        <dataType>String</dataType>
        <expression>IF({!Clone_Contracted_Component_Decision} ,{!Product_Type_Description_Screen_Component},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>Formula_Product_Type_Screen_Component_Is_Clone</name>
        <dataType>Number</dataType>
        <expression>IF({!Clone_Contracted_Component_Decision} , {!Product_Type_Screen_Component} ,null)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Formula_Region_Screen_Component_Is_Clone</name>
        <dataType>String</dataType>
        <expression>IF({!Clone_Contracted_Component_Decision} ,{!Region_Screen_Component},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>Formula_Regional_Standard_Lookup_Component_Is_Clone</name>
        <dataType>String</dataType>
        <expression>IF({!Clone_Contracted_Component_Decision} ,{!Financial_Code_Lookup_Component.recordId},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>Formula_Remittance_Account_Lookup_Component_Is_Clone</name>
        <dataType>String</dataType>
        <expression>IF({!Clone_Contracted_Component_Decision} , {!Remittance_Account_Lookup_Component.recordId} ,null)</expression>
    </formulas>
    <formulas>
        <name>Formula_Revenue_Center_Lookup_Component_Is_Clone</name>
        <dataType>String</dataType>
        <expression>IF({!Clone_Contracted_Component_Decision} ,  {!Revenue_Center_Lookup_Component.recordId},null)</expression>
    </formulas>
    <formulas>
        <name>Formula_Settlement_Fee_Component_Type_Screen_Component_Is_Clone</name>
        <dataType>String</dataType>
        <expression>IF({!Clone_Contracted_Component_Decision} ,{!Fee_and_Component_Screen_Component},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>Formula_Settlement_Price_Component_Type_Screen_Component_Is_Clone</name>
        <dataType>String</dataType>
        <expression>IF({!Clone_Contracted_Component_Decision} ,{!Ticket_Price_and_Component_Screen_Component},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>Formula_Split_CheckBox_Screen_Component_Is_Clone</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Clone_Contracted_Component_Decision} ,{!Split_CheckBox_Screen_Component} ,false)</expression>
    </formulas>
    <formulas>
        <name>Formula_Split_Count_Screen_Component_Is_Clone</name>
        <dataType>Number</dataType>
        <expression>IF({!Clone_Contracted_Component_Decision} ,{!Split_Count_Screen_Component} ,null)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Formula_Split_Percentage_Screen_Component_Is_Clone</name>
        <dataType>Number</dataType>
        <expression>IF({!Clone_Contracted_Component_Decision} ,{!Split_Percentage_Screen_Component} ,null)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Formula_Tax_Rate_Clone</name>
        <dataType>Number</dataType>
        <expression>IF({!Clone_Contracted_Product_Decision},{!Tax_Rate},null)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Formula_Ticket_Categories_Component_Is_Clone</name>
        <dataType>String</dataType>
        <expression>IF({!Clone_Contracted_Component_Decision} ,{!Ticket_Categories_Screen_Component},null)</expression>
    </formulas>
    <formulas>
        <name>Fromula_Referral_of_Record</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) + &quot;lightning/r/SBQQ__ContractedPrice__c/&quot; + {!Create_New_Contracted_Product} + &quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>RecordTypeIdforLA</name>
        <dataType>String</dataType>
        <expression>IF({!Association_Type_Screen} == &quot;Fee&quot;, &apos;0128Z000000rV7DQAU&apos;,&apos;0128Z000000rUhxQAE&apos;)</expression>
    </formulas>
    <interviewLabel>Library Association Wizard {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FIN Library Association Wizard</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Consumption_Schedule</name>
        <label>Create New Consumption Schedule</label>
        <locationX>1650</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>New_Consumption_Rate_Screen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Accumulator_Type__c</field>
            <value>
                <elementReference>Accumulator_Type_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingTerm</field>
            <value>
                <elementReference>Billing_Term_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingTermUnit</field>
            <value>
                <elementReference>Billing_Term_Unit_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>Get_Contract_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contracted_Price__c</field>
            <value>
                <elementReference>Contracted_Price_Lookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description_Contracted_Price_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FIN_Actual_Count__c</field>
            <value>
                <elementReference>Actual_Count_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FIN_Actual_Revenue__c</field>
            <value>
                <elementReference>Actual_Revenue_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FIN_Conditional_Logic__c</field>
            <value>
                <elementReference>Conditional_Logic_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FIN_End_Date__c</field>
            <value>
                <elementReference>End_Date_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FIN_Financial_Code__c</field>
            <value>
                <elementReference>Financial_Code_Lookup_Consumption_Schedule.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FIN_Start_Date__c</field>
            <value>
                <elementReference>Start_Date_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FIN_Starting_Revenue__c</field>
            <value>
                <elementReference>Starting_Revenue_Original_Advance_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FIN_Starting_Ticket_Count__c</field>
            <value>
                <elementReference>Starting_Ticket_Count_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FIN_Target_Revenue__c</field>
            <value>
                <elementReference>Target_Revenue_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FIN_Target_Ticket_Count__c</field>
            <value>
                <elementReference>Target_Ticket_Count_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Consumption_Schedule_Name_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RatingMethod</field>
            <value>
                <elementReference>Rating_Method_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Category__c</field>
            <value>
                <elementReference>Category_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Type_Screen</elementReference>
            </value>
        </inputAssignments>
        <object>ConsumptionSchedule</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Consumptions_Rate</name>
        <label>Create New Consumptions Rate</label>
        <locationX>182</locationX>
        <locationY>1838</locationY>
        <connector>
            <targetReference>Get_Record_Type_Component</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>Collection_Consumption_Rate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Contracted_Components</name>
        <label>Create New Contracted Components</label>
        <locationX>182</locationX>
        <locationY>3686</locationY>
        <connector>
            <targetReference>Assignee_New_Contracted_Component_Clean</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>Collection_Contracted_Component</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Contracted_Product</name>
        <label>Create New Contracted Product</label>
        <locationX>2379</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Assignee_that_Contracted_Product_was_Created</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Association_Type__c</field>
            <value>
                <elementReference>Association_Type_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Currency_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FIN_Component_Number__c</field>
            <value>
                <elementReference>Component_Key_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FIN_Concept_Use__c</field>
            <value>
                <elementReference>Concept_Use_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FIN_Consumption_Schedule__c</field>
            <value>
                <elementReference>Consumption_Schedule_Lookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FIN_Context__c</field>
            <value>
                <elementReference>Context_Lookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FIN_FeeType__c</field>
            <value>
                <elementReference>Fee_Component_Type_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FIN_Fee_and_Component__c</field>
            <value>
                <elementReference>Fee_and_Component_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FIN_Financial_Code__c</field>
            <value>
                <elementReference>Financial_Code_Lookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FIN_Product_Type_NUM__c</field>
            <value>
                <elementReference>Product_Type_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FIN_Region__c</field>
            <value>
                <elementReference>Region_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FIN_Revenue_Center_Lookup__c</field>
            <value>
                <elementReference>Revenue_Center_Lookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FIN_SplitCount__c</field>
            <value>
                <elementReference>Split_Count_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FIN_SplitPercentage__c</field>
            <value>
                <elementReference>Split_Percentage_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FIN_Split__c</field>
            <value>
                <elementReference>Split_CheckBox_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FIN_Tax_Rate__c</field>
            <value>
                <elementReference>Tax_Rate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FIN_TicketCategories__c</field>
            <value>
                <elementReference>Ticket_Categories_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FIN_Ticket_price_Component__c</field>
            <value>
                <elementReference>Ticket_Price_and_Component_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fulfillment_Process__c</field>
            <value>
                <elementReference>Fulfillment_Process_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <elementReference>Product_Type_Description_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeIdforLA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Account__c</field>
            <value>
                <elementReference>Get_Contract_Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Contract__c</field>
            <value>
                <elementReference>Get_Contract_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Description__c</field>
            <value>
                <elementReference>Description_Contracted_Price_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__EffectiveDate__c</field>
            <value>
                <elementReference>Effective_Date_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ExpirationDate__c</field>
            <value>
                <elementReference>Expiration_Date_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Price__c</field>
            <value>
                <elementReference>Price_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Product__c</field>
            <value>
                <elementReference>Product_Lookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__ContractedPrice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Base_Product</name>
        <label>Get Base Product</label>
        <locationX>2379</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Contracted_Price_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BASE</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contract_Record</name>
        <label>Get Contract Record</label>
        <locationX>2379</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Base_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contract_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_Component</name>
        <label>Get Record Type Component</label>
        <locationX>182</locationX>
        <locationY>1958</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type_Component_Fee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FIN_Contracted_Product</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_Component_Fee</name>
        <label>Get Record Type Component Fee</label>
        <locationX>182</locationX>
        <locationY>2078</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_Component_Screen_Component</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FIN_Contracted_Fee</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Add_Acumulator</name>
        <label>Add Acumulator</label>
        <locationX>2379</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Add_Accumulator</targetReference>
        </connector>
        <fields>
            <name>Add_Acumulator_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Acumulator_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Add_Accumulators_RadioButton</name>
                    <choiceReferences>Yes_Add_Accumulator</choiceReferences>
                    <choiceReferences>No_Add_Accumulator</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Do you want to add Consumption Schedule</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_Consumption_Schedule_Section</name>
            <fieldText>New Consumption Schedule:</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Consumption_Schedule_Section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Consumption_Schedule_Name_Screen</name>
                    <dataType>String</dataType>
                    <fieldText>Consumption Schedule Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Description_Accumulator_Screen</name>
                    <dataType>String</dataType>
                    <fieldText>Description</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Contract_Accumulator_Lookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>ConsumptionSchedule</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Contract__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contract</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Consumption_Schedule_Section_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Start_Date_Screen</name>
                    <dataType>Date</dataType>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>End_Date_Screen</name>
                    <dataType>Date</dataType>
                    <fieldText>End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Insert the correct date.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Start_Date_Screen}&lt;= {!End_Date_Screen}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Add_Accumulators_RadioButton</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes_Add_Accumulator_Choice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Accumulator_Rules_Section</name>
            <fieldText>Accumulator Rules</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Accumulator_Rules_Section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Accumulator_Type_Screen</name>
                    <choiceReferences>Accumulator_Type_PickList</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Accumulator Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Starting_Revenue_Original_Advance_Screen</name>
                    <dataType>Number</dataType>
                    <fieldText>Starting Revenue / Original Advance</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Target_Revenue_Screen</name>
                    <dataType>Number</dataType>
                    <fieldText>Target Revenue</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Accumulator_Rules_Section_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Conditional_Logic_Screen</name>
                    <choiceReferences>Conditional_Logic_PickList</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Conditional Logic</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Starting_Ticket_Count_Screen</name>
                    <dataType>Number</dataType>
                    <fieldText>Starting Ticket Count</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Target_Ticket_Count_Screen</name>
                    <dataType>Number</dataType>
                    <fieldText>Target Ticket Count</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Add_Accumulators_RadioButton</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes_Add_Accumulator_Choice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Actuals_Section</name>
            <fieldText>Actuals</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Actuals_Section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Actual_Count_Screen</name>
                    <dataType>Number</dataType>
                    <fieldText>Actual Count</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Actuals_Section_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Actual_Revenue_Screen</name>
                    <dataType>Number</dataType>
                    <fieldText>Actual Revenue</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Add_Accumulators_RadioButton</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes_Add_Accumulator_Choice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>System_Information_Section</name>
            <fieldText>System Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>System_Information_Section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Rating_Method_Screen</name>
                    <choiceReferences>Rating_Method_PickList</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Rating Method</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Type_Screen</name>
                    <choiceReferences>Type_PickList</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Category_Screen</name>
                    <choiceReferences>Category_PickList</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Category</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Billing_Term_Screen</name>
                    <dataType>Number</dataType>
                    <fieldText>Billing Term</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(255, 0, 0);&quot;&gt;Apply consumption schedules to as many as 20 quarters, 60 months, or 5 years.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Formula_Billing_Term_Validation}</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Billing_Term_Unit_Screen</name>
                    <choiceReferences>Billing_Term_Unit_PickList</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Billing Term Unit</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>System_Information_Section_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contracted_Price_Lookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>ConsumptionSchedule</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Contracted_Price__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contracted Price</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Create_New_Contracted_Product</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Financial_Code_Lookup_Consumption_Schedule</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>ConsumptionSchedule</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Financial Code</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>FIN_Financial_Code__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Add_Accumulators_RadioButton</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes_Add_Accumulator_Choice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_Tier_Screen</name>
        <label>Add Tier Screen</label>
        <locationX>1650</locationX>
        <locationY>1478</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Tier_Decision</targetReference>
        </connector>
        <fields>
            <name>add_Tier_Radio_Button</name>
            <choiceReferences>Yes_Add_Tier</choiceReferences>
            <choiceReferences>No_Add_Tier</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you want to add another Rate?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Clon_Or_Create_Action_Screen</name>
        <label>Clone Or Create Action Screen</label>
        <locationX>182</locationX>
        <locationY>3926</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Last_Step_Decision</targetReference>
        </connector>
        <fields>
            <name>Fourth_Step_RadioButton</name>
            <choiceReferences>Create_Fee_Ticket_or_Uplift_Component</choiceReferences>
            <choiceReferences>Clone_this_Library_Association</choiceReferences>
            <choiceReferences>Create_Base_Library_Association</choiceReferences>
            <choiceReferences>No_More_Products_To_Add</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Next:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contracted_Component_Decision_Screen</name>
        <label>Contracted Component Decision Screen</label>
        <locationX>512</locationX>
        <locationY>3134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_Contracted_Component</targetReference>
        </connector>
        <fields>
            <name>Contracted_Component_Decision_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contracted_Component_Decision_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Create_Clone_Contracted_Component_RadioButton</name>
                    <choiceReferences>Create_Contracted_Component</choiceReferences>
                    <choiceReferences>Clone_Contracted_Component</choiceReferences>
                    <choiceReferences>Create_Fee_Ticket_or_Uplift_Component</choiceReferences>
                    <choiceReferences>Back_to_Wizard</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Create/Clone another Contracted Component:</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Numb_Of_Loop_Incrementation</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>6.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Create_Clone_Contracted_Component_RadioButton2</name>
            <choiceReferences>Create_Contracted_Component</choiceReferences>
            <choiceReferences>Clone_Contracted_Component</choiceReferences>
            <choiceReferences>Create_Fee_Ticket_or_Uplift_Component</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Create/Clone another  Contracted Component:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Numb_Of_Loop_Incrementation</leftValueReference>
                    <operator>LessThan</operator>
                    <rightValue>
                        <numberValue>6.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1260</locationX>
        <locationY>3806</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Consumption_Rate_Screen</name>
        <label>New Consumption Rate</label>
        <locationX>1650</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assigne_New_Tier</targetReference>
        </connector>
        <fields>
            <name>New_Consumption_Rate_Section</name>
            <fieldText>New Consumption Rate</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Consumption_Rate_Section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Processing_Order_Screen</name>
                    <dataType>Number</dataType>
                    <fieldText>Processing Order</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Lower_Bound_Screen</name>
                    <dataType>Number</dataType>
                    <fieldText>Lower Bound</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Upper_Bound_Screen</name>
                    <dataType>Number</dataType>
                    <fieldText>Upper Bound</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 0, 30); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Can&apos;t save consumption rate. A consumption rate&apos;s lower bound can&apos;t be greater than its upper bound&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Lower_Bound_Screen}&lt;{!Upper_Bound_Screen}</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Price_Tier_Screen</name>
                    <dataType>Number</dataType>
                    <fieldText>Price</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Consumption_Rate_Section_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Description_Screen_Tier</name>
                    <dataType>String</dataType>
                    <fieldText>Description</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Pricing_Method_Screen</name>
                    <choiceReferences>Pricing_Method_PickList</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Pricing Method</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Consumption_Schedule_Tier_Lookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ConsumptionScheduleId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Consumption Schedule</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>ConsumptionRate</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Create_New_Consumption_Schedule</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Contracted_Price_Screen</name>
        <label>New Contracted Price Screen</label>
        <locationX>2379</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Contracted_Product</targetReference>
        </connector>
        <fields>
            <name>New_Contracted_Product_Text</name>
            <fieldText>&lt;h2 style=&quot;text-align: center;&quot;&gt;New Library Association&lt;/h2&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contracted_Price_Information_Section</name>
            <fieldText>Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contracted_Price_Information_Section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Context_Lookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>FIN_Context__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Context</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>SBQQ__ContractedPrice__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Formula_Base_Context_Lookup_Is_Clone</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Account_Lookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>SBQQ__Account__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>SBQQ__ContractedPrice__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contracted_Price_Information_Section_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Approval_Status</name>
                    <choiceReferences>ApprovalStatus</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>New</stringValue>
                    </defaultValue>
                    <fieldText>Approval Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Region_Screen</name>
                    <choiceReferences>Region_pickList</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Formula_Base_Region_Screen_Is_Clone</elementReference>
                    </defaultValue>
                    <fieldText>Region</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Currency_Screen</name>
                    <choiceReferences>Currency_PickList</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Formula_Base_Currency_Screen_Is_Clone</elementReference>
                    </defaultValue>
                    <fieldText>Currency</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Effective_Date_Screen</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Formula_Base_Effective_Date_Screen_Is_Clone</elementReference>
                    </defaultValue>
                    <fieldText>Effective Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Expiration_Date_Screen</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Formula_Base_Expiration_Date_Screen_Is_Clone</elementReference>
                    </defaultValue>
                    <fieldText>Expiration Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Insert the correct date.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Effective_Date_Screen}&lt;= {!Expiration_Date_Screen}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Price_Code_Details</name>
            <fieldText>Price Code Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Price_Code_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Component_Key_Screen</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Component Key</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>ComponentOf_Lookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Formula_ComponentOf_Lookup</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>FIN_ComponentOf__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>SBQQ__ContractedPrice__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Component Of</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Product_Lookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>SBQQ__ContractedPrice__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>SBQQ__Product__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Product</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Description_Contracted_Price_Screen</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Formula_Base_Description_Is_Clone</elementReference>
                    </defaultValue>
                    <fieldText>Description</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Association_Type_Screen</name>
                    <choiceReferences>Association_Type_PickList</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Association Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Display_Number</name>
                    <dataType>Number</dataType>
                    <fieldText>Display Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Price_Code_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Product_Type_Screen</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Formula_Base_Product_Type_Screen_Is_Clone</elementReference>
                    </defaultValue>
                    <fieldText>Product Type</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Value outside of valid range on numeric field.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Product_Type_Screen}&lt;99</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Product_Type_Description_Screen</name>
                    <choiceReferences>Product_Type_Description_PickList</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Formula_Base_Product_Type_Description_Screen_Is_Clone</elementReference>
                    </defaultValue>
                    <fieldText>Product Type Description</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Fulfillment_Process_Screen</name>
                    <choiceReferences>Fulfillment_Process_PickList</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Formula_Base_Fulfillment_Process_Screen_Is_Clone</elementReference>
                    </defaultValue>
                    <fieldText>Fulfillment Process</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Fee_Data_Points_Section</name>
            <fieldText>Fee or Ticket Data Points</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fee_Data_Points_Section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Fee_Component_Type_Screen</name>
                    <choiceReferences>Fee_Component_Type_PickList</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Formula_Base_Fee_Component_Type_Screen_Is_Clone</elementReference>
                    </defaultValue>
                    <fieldText>Fee Component Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Fee_and_Component_Screen</name>
                    <choiceReferences>Fee_and_Component_PickList</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Formula_Base_Fee_and_Component_Screen_Is_Clone</elementReference>
                    </defaultValue>
                    <fieldText>Fee and Component</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fee_Data_Points_Section_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Ticket_Categories_Screen</name>
                    <choiceReferences>Ticket_Categories_PickList</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Formula_Base_Ticket_Categories_Screen_Is_Clone</elementReference>
                    </defaultValue>
                    <fieldText>Ticket Categories</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Ticket_Price_and_Component_Screen</name>
                    <choiceReferences>Ticket_Price_and_Component_PickList</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Formula_Base_Ticket_Price_and_Component_Screen_Is_Clone</elementReference>
                    </defaultValue>
                    <fieldText>Ticket Price and Component</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Revenue_Details</name>
            <fieldText>Revenue Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Revenue_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Revenue_Center_Lookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Revenue Center (Enriched)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>FIN_Revenue_Center_Lookup__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>SBQQ__ContractedPrice__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Formula_Base_Revenue_Center_Lookup_Is_Clone</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Revenue_Details_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Settlement_Section</name>
            <fieldText>Settlement</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Settlement_Section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Concept_Use_Screen</name>
                    <choiceReferences>Concept_Use_PickList</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Formula_Base_Concept_Use_Screen_Is_Clone</elementReference>
                    </defaultValue>
                    <fieldText>Concept / Use</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Price_Screen</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Formula_Base_Price_Screen_Is_Clone</elementReference>
                    </defaultValue>
                    <fieldText>Price</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Settlement_Section_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Financial_Code_Lookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>SBQQ__ContractedPrice__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>FIN_Financial_Code__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Financial Code</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Formula_Base_Regional_Standard_Lookup_Is_Clone</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Tax_Rate</name>
                    <dataType>Number</dataType>
                    <fieldText>Tax Rate</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Accumulator_and_Split_Information_Section</name>
            <fieldText>Accumulator and Split Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Accumulator_and_Split_Information_Section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Split_CheckBox_Screen</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Formula_Base_Split_CheckBox_Screen_Is_Clone</elementReference>
                    </defaultValue>
                    <fieldText>Split</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Split_Count_Screen</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Formula_Base_Split_Count_Screen_Is_Clone</elementReference>
                    </defaultValue>
                    <fieldText>Split Count</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Split_Percentage_Screen</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Formula_Base_Split_Percentage_Screen_Is_Clone</elementReference>
                    </defaultValue>
                    <fieldText>Split Percentage</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Accumulator_and_Split_Information_Section_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Consumption_Schedule_Lookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>FIN_Consumption_Schedule__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Consumption Schedule</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>SBQQ__ContractedPrice__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Formula_Base_Consumption_Schedule_Lookup_Is_Clone</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Product_Component_Screen_Component</name>
        <label>Product Component Screen</label>
        <locationX>182</locationX>
        <locationY>2198</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assignee_Contracted_Product</targetReference>
        </connector>
        <fields>
            <name>New_Contracted_Component_text</name>
            <fieldText>&lt;h2 style=&quot;text-align: center;&quot;&gt;{!Formula_Continue_Loop_Or_Create_Fee_Ticket_Uplift}&lt;/h2&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;h2&gt;&lt;br&gt;&lt;/h2&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contracted_Price_Information_Section_Component</name>
            <fieldText>Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contracted_Price_Information_Section_Component_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Component_Key_Component</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Numb_Of_Loop_Incrementation</elementReference>
                    </defaultValue>
                    <fieldText>Component Key</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Association_Type_Component_Screen_Require</name>
                    <choiceReferences>Ticket_Choice</choiceReferences>
                    <choiceReferences>Fee_Choice</choiceReferences>
                    <choiceReferences>Uplift_Choice</choiceReferences>
                    <choiceReferences>Merchandise_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Ticket</stringValue>
                    </defaultValue>
                    <fieldText>Association Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Description_Screen_Component</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Formula_Description_Screen_Component_Is_Clone</elementReference>
                    </defaultValue>
                    <fieldText>Description</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contracted_Price_Information_Section_Component_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Region_Screen_Component</name>
                    <choiceReferences>Region_pickList</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Formula_Region_Screen_Component_Is_Clone</elementReference>
                    </defaultValue>
                    <fieldText>Region</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Context_Component_Lookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>SBQQ__ContractedPrice__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Context</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>FIN_Context__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Formula_Context_Component_Is_Clone</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Consolidated_Library_Section_Component</name>
            <fieldText>Consolidated Library</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Consolidated_Library_Section_Component_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Effective_Date_Screen_Component</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Formula_Effective_Date_Screen_Component_Is_Clone</elementReference>
                    </defaultValue>
                    <fieldText>Effective Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Consolidated_Library_Section_Component_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Financial_Code_Lookup_Component</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>SBQQ__ContractedPrice__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>FIN_Financial_Code__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Financial Code</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Formula_Regional_Standard_Lookup_Component_Is_Clone</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Expiration_Date_Screen_Component</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Formula_Expiration_Date_Screen_Component_Is_Clone</elementReference>
                    </defaultValue>
                    <fieldText>Expiration Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Insert the correct date.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Effective_Date_Screen_Component}&lt;= {!Expiration_Date_Screen_Component}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Product_Section_Component</name>
            <fieldText>Product</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Product_Section_Component_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Product_Lookup_Component</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>SBQQ__ContractedPrice__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>SBQQ__Product__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Product</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Formula_Product_Lookup_Component_Is_Clone</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Component_Of_Lookup_Component</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>FIN_ComponentOf__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>SBQQ__ContractedPrice__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Component Of</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Create_New_Contracted_Product</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Product_Type_Screen_Component</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Formula_Product_Type_Screen_Component_Is_Clone</elementReference>
                    </defaultValue>
                    <fieldText>Product Type</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Product_Section_Component_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Product_Type_Description_Screen_Component</name>
                    <choiceReferences>Product_Type_Description_PickList</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Formula_Product_Type_Description_Screen_Component_Is_Clone</elementReference>
                    </defaultValue>
                    <fieldText>Product Type Description</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Fulfillment_Process_Screen_Component</name>
                    <choiceReferences>Fulfillment_Process_PickList</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Formula_Fulfillment_Process_Screen_Component_Is_Clone</elementReference>
                    </defaultValue>
                    <fieldText>Fulfillment Process</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Fee_Data_Points_Section_Component</name>
            <fieldText>Fee Data Points</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fee_Data_Points_Section_Component_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Fee_Lookup_Component</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>SBQQ__ContractedPrice__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>FIN_Fee__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Fee</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Formula_Fee_Lookup_Component_Is_Clone</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Fee_Component_Lookup_Component</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>SBQQ__ContractedPrice__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Fee Component</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>FIN_Fee_Component__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Formula_Fee_Component_Lookup_Component_Is_Clone</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Fee_Component_Type_Screen_Component</name>
                    <choiceReferences>Fee_Component_Type_PickList</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Formula_Fee_Component_Type_Screen_Component_Is_Clone</elementReference>
                    </defaultValue>
                    <fieldText>Fee Component Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Price_Screen_Component</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Formula_Price_Screen_Component_Is_Clone</elementReference>
                    </defaultValue>
                    <fieldText>Price</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fee_Data_Points_Section_Component_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Remittance_Account_Lookup_Component</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>FIN_Remittance_Account__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Remittance Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>SBQQ__ContractedPrice__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Formula_Remittance_Account_Lookup_Component_Is_Clone</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Revenue_Center_Lookup_Component</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Revenue Center (Enriched)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>SBQQ__ContractedPrice__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>FIN_Revenue_Center_Lookup__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Formula_Revenue_Center_Lookup_Component_Is_Clone</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Settlement_Component_Section</name>
            <fieldText>Settlement</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Settlement_Component_Section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Ticket_Categories_Screen_Component</name>
                    <choiceReferences>Ticket_Category_PickList</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Formula_Ticket_Categories_Component_Is_Clone</elementReference>
                    </defaultValue>
                    <fieldText>Ticket Categories</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Ticket_Price_and_Component_Screen_Component</name>
                    <choiceReferences>Ticket_Price_and_Component_PickList</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Formula_Settlement_Price_Component_Type_Screen_Component_Is_Clone</elementReference>
                    </defaultValue>
                    <fieldText>Ticket Price and Component</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Fee_and_Component_Screen_Component</name>
                    <choiceReferences>Fee_and_Component_PickList</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Formula_Settlement_Fee_Component_Type_Screen_Component_Is_Clone</elementReference>
                    </defaultValue>
                    <fieldText>Fee and Component</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Settlement_Component_Section_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Concept_Use_Screen_Component</name>
                    <choiceReferences>Concept_Use_PickList</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Formula_Concept_Use_Screen_Component_Is_Clone</elementReference>
                    </defaultValue>
                    <fieldText>Concept / Use</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Payee_Lookup_Compoent</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Payee_Lookup</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>FIN_Payee__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>SBQQ__ContractedPrice__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Formula_Payee_Lookup_Component_Is_Clone</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Accumulator_and_Split_Information_Section_Component</name>
            <fieldText>Accumulator and Split Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Accumulator_and_Split_Information_Section_Component_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Split_CheckBox_Screen_Component</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Formula_Split_CheckBox_Screen_Component_Is_Clone</elementReference>
                    </defaultValue>
                    <fieldText>Split</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Split_Count_Screen_Component</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Formula_Split_Count_Screen_Component_Is_Clone</elementReference>
                    </defaultValue>
                    <fieldText>Split Count</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Split_Percentage_Screen_Component</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Formula_Split_Percentage_Screen_Component_Is_Clone</elementReference>
                    </defaultValue>
                    <fieldText>Split Percentage</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Accumulator_and_Split_Information_Section_Component_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Consumption_Schedule_Lookup_Component</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>SBQQ__ContractedPrice__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>FIN_Consumption_Schedule__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Consumption Schedule</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Formula_Consumption_Schedule_Lookup_Component_Is_Clone</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Applied_Consumption_Rate_Screen_Component</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Formula_Applied_Consumption_Rate_Screen_Component_Is_Clone</elementReference>
                    </defaultValue>
                    <fieldText>Applied Consumption Rate</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen_Contracted_Price</name>
        <label>Success Screen Contracted Price</label>
        <locationX>578</locationX>
        <locationY>4166</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Test</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(92, 182, 17);&quot;&gt;Library Association has been created.&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;{!Fromula_Referral_of_Record}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(60, 163, 215);&quot;&gt;Click here to open&lt;/a&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>2253</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contract_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Already_Created_New_Contracted_Price_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__ContractedPrice__c</objectType>
    </variables>
    <variables>
        <name>Back_to_Wizard_Choise</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>BacktoWizard</stringValue>
        </value>
    </variables>
    <variables>
        <name>Clone_Contracted_Component_Choise</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>CloneContractedComponent</stringValue>
        </value>
    </variables>
    <variables>
        <name>Clone_This_Library_Association_Choise</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>CloneThisLibraryAssociationChoise</stringValue>
        </value>
    </variables>
    <variables>
        <name>Collection_Consumption_Rate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ConsumptionRate</objectType>
    </variables>
    <variables>
        <name>Collection_Contracted_Component</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__ContractedPrice__c</objectType>
    </variables>
    <variables>
        <name>Condition_Check_If_Record_Clone_Or_Created</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Create_Another_Contracted_Component_Choise</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>CreateAnotherContractedComponent</stringValue>
        </value>
    </variables>
    <variables>
        <name>Create_another_Contracted_Product_Choice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>CreateAnotherContractedProductChoice</stringValue>
        </value>
    </variables>
    <variables>
        <name>Create_Base_Library_Association_Choise</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue> CreateBaseLibraryAssociationChoise</stringValue>
        </value>
    </variables>
    <variables>
        <name>Create_Fee_Component_Product_Choice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>CreateFeeComponentProductChoice</stringValue>
        </value>
    </variables>
    <variables>
        <name>Create_Fee_Ticket_or_Uplift_Component_Choise</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Create Fee, Ticket or Uplift Component</stringValue>
        </value>
    </variables>
    <variables>
        <name>Get_Contract_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>New_Consumption_Rate_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ConsumptionRate</objectType>
    </variables>
    <variables>
        <name>New_Contracted_Component_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__ContractedPrice__c</objectType>
    </variables>
    <variables>
        <name>No_Add_Accumulator_Choice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>NoAddAccumulatorChoice</stringValue>
        </value>
    </variables>
    <variables>
        <name>No_Add_Tier_Choice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>NoAddTierChoice</stringValue>
        </value>
    </variables>
    <variables>
        <name>No_More_Products_To_Add_Choise</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>NoMoreProductsToAddChoise</stringValue>
        </value>
    </variables>
    <variables>
        <name>Numb_Of_Loop_Incrementation</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Var_Label_Create_5_Library_Association</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Create {!Numb_Of_Loop_Incrementation}{!Formula_Ordinals}  Library Association Component of 5 required.</stringValue>
        </value>
    </variables>
    <variables>
        <name>Yes_Add_Accumulator_Choice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>YesAddAccumulatorChoice</stringValue>
        </value>
    </variables>
    <variables>
        <name>Yes_Add_Tier_Choise</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>YesAddTierChoise</stringValue>
        </value>
    </variables>
</Flow>
