force-app/main/default/flows/FIN_UpdateSettlementScheduleRT_RTA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FIN_UpdateSettlementScheduleRT_RTA</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Locked_RT</name>
        <label>Get Locked RT</label>
        <locationX>588</locationX>
        <locationY>387</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Master_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FIN_SettlementSchedule__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Locked</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RT_Locked_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Master_RT</name>
        <label>Get Master RT</label>
        <locationX>586</locationX>
        <locationY>520</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Settlement_Schedule_Master_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FIN_SettlementSchedule__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Master</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RT_Master_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Settlement_Schedule_Locked_RT</name>
        <label>Update Settlement Schedule Locked RT</label>
        <locationX>585</locationX>
        <locationY>804</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>FIN_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>FIN_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Remittance</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RT_Locked_ID</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Settlement_Schedule_Master_RT</name>
        <label>Update Settlement Schedule Master RT</label>
        <locationX>584</locationX>
        <locationY>655</locationY>
        <connector>
            <targetReference>Update_Settlement_Schedule_Locked_RT</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>FIN_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SettlementInProgress</stringValue>
            </value>
        </filters>
        <filters>
            <field>FIN_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Void</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Master_RT</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Locked_RT</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>FIN_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>FIN_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SettlementInProgress</stringValue>
            </value>
        </filters>
        <filters>
            <field>FIN_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Remittance</stringValue>
            </value>
        </filters>
        <filters>
            <field>FIN_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Void</stringValue>
            </value>
        </filters>
        <object>FIN_SettlementSchedule__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>RT_Locked_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RT_Master_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
