force-app/main/default/flows/FIN_Override_New_Button_Consumptions_Rate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Override_Finish_Button</name>
        <label>Override Finish Button</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <actionName>c:OverrideFinishButton</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>New_Consumption_Rate.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assignee_New_Consumption_Rate</name>
        <label>Assignee New Consumption Rate</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>New_Consumption_Rate.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Active_Screen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Consumption_Rate.ConsumptionScheduleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consumption_Schedule_Lookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Consumption_Rate.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description_Screen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Consumption_Rate.FIN_Pricing_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pricing_Method_Screen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Consumption_Rate.FIN_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Flat_Rate_Screen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Consumption_Rate.LowerBound</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lower_Bound_Screen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Consumption_Rate.UpperBound</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Upper_Bound_Screen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Consumption_Rate.Price</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Consumption_Rate.PricingMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FlatFee</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Consumption_Rate.ProcessingOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Processing_Order_Screen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Consumption_Rate.FIN_Unit_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Unit_Price_Screen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Consumption_Rate</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>Pricing_Method_PickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FIN_Pricing_Method__c</picklistField>
        <picklistObject>ConsumptionRate</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>FIN Override New Button Consumptions Rate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FIN Override New Button Consumptions Rate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Consumption_Rate</name>
        <label>Create New Consumption Rate</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Override_Finish_Button</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>New_Consumption_Rate</inputReference>
    </recordCreates>
    <screens>
        <name>Consumption_Rate</name>
        <label>Consumption Rate</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assignee_New_Consumption_Rate</targetReference>
        </connector>
        <fields>
            <name>Display_Test_New_Consumption</name>
            <fieldText>&lt;h2 style=&quot;text-align: center;&quot;&gt;New Consumption Rate&lt;/h2&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Information_Section</name>
            <fieldText>Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Information_Section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Processing_Order_Screen</name>
                    <dataType>Number</dataType>
                    <fieldText>Processing Order</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Description_Screen</name>
                    <dataType>String</dataType>
                    <fieldText>Description</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Lower_Bound_Screen</name>
                    <dataType>Number</dataType>
                    <fieldText>Lower Bound</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(234, 0, 30);&quot;&gt;Can&apos;t save consumption rate. A consumption rate&apos;s lower bound can&apos;t be greater than its upper bound&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Lower_Bound_Screen}&lt;{!Upper_Bound_Screen}</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Upper_Bound_Screen</name>
                    <dataType>Number</dataType>
                    <fieldText>Upper Bound</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Information_Section_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Active_Screen</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Active</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Consumption_Schedule_Lookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Consumption Schedule</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ConsumptionScheduleId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>ConsumptionRate</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>GetConsumptionsScheduldId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Pricing_Method_Screen</name>
                    <choiceReferences>Pricing_Method_PickList</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Pricing Method</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Unit_Price_Screen</name>
                    <dataType>Number</dataType>
                    <fieldText>Unit Price</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Flat_Rate_Screen</name>
                    <dataType>Number</dataType>
                    <fieldText>Flat Rate (%)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>440</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Text</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Consumption_Rate</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>GetConsumptionsScheduldId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>New_Consumption_Rate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ConsumptionRate</objectType>
    </variables>
</Flow>
