force-app/main/default/flows/FIN_Engine_Rule_Clone_with_Related.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Condition_Record_0</name>
        <label>Assign Condition Record</label>
        <locationX>1937</locationX>
        <locationY>607</locationY>
        <assignmentItems>
            <assignToReference>Collection_Action_Record</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Action_Rule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Action_Rule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigne_Action_Record</name>
        <label>Assigne_Action_Record</label>
        <locationX>1945</locationX>
        <locationY>280</locationY>
        <assignmentItems>
            <assignToReference>Collection_Condition_Record</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Condition</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Condition</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Values_to_EngineRule_Record</name>
        <label>Set Values to Condition Record</label>
        <locationX>1935</locationX>
        <locationY>436</locationY>
        <assignmentItems>
            <assignToReference>Loop_Condition.FIN_SortingRule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_New_Engine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assigne_Action_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Values_to_EngineRule_Record_0</name>
        <label>Set Values to Condition Record</label>
        <locationX>1931</locationX>
        <locationY>790</locationY>
        <assignmentItems>
            <assignToReference>Loop_Action_Rule.FIN_SortingRule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_New_Engine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Condition_Record_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Clone</name>
        <label>Check If Clone Rule Condition</label>
        <locationX>1280</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Check_If_Clone_Rule_Action</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AXS_Rule_Conditions_Checkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Rule_Condition</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Clone_Rule_Action</name>
        <label>Check If Clone Rule Action</label>
        <locationX>1282</locationX>
        <locationY>717</locationY>
        <defaultConnector>
            <targetReference>Screen_Success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AXS_Rule_Actions_Checkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Rule_Action</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Related_Condition_Exist</name>
        <label>Check If Related Condition Exist</label>
        <locationX>1470</locationX>
        <locationY>477</locationY>
        <defaultConnector>
            <targetReference>Check_If_Clone_Rule_Action</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Rule_Condition</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Condition</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Related_Condition_Exist_0</name>
        <label>Check If Related Condition Exist</label>
        <locationX>1609</locationX>
        <locationY>796</locationY>
        <defaultConnector>
            <targetReference>Screen_Success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Rule_Action</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Action_Rule</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Condition_PickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FIN_Condition__c</picklistField>
        <picklistObject>FIN_AXSRuleEngine__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Currency_PickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CurrencyIsoCode</picklistField>
        <picklistObject>FIN_AXSRuleEngine__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Object_PickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FIN_Object__c</picklistField>
        <picklistObject>FIN_AXSRuleEngine__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Region_PickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FIN_Region__c</picklistField>
        <picklistObject>FIN_AXSRuleEngine__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Type_Pick_List</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FIN_Type__c</picklistField>
        <picklistObject>FIN_AXSRuleEngine__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>FIN Engine Rule Clone with Related {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>FIN Engine Rule Clone with Related</label>
    <loops>
        <name>Loop_Action_Rule</name>
        <label>Loop Action Rule</label>
        <locationX>1798</locationX>
        <locationY>697</locationY>
        <collectionReference>Get_Rule_Action</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Values_to_EngineRule_Record_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Clone_Action_Rule</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Condition</name>
        <label>Loop Condition</label>
        <locationX>1797</locationX>
        <locationY>335</locationY>
        <collectionReference>Get_Rule_Condition</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Values_to_EngineRule_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Clone_Condition_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Clone_Action_Rule</name>
        <label>Create Clone Action Rule</label>
        <locationX>1794</locationX>
        <locationY>913</locationY>
        <connector>
            <targetReference>Screen_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>Collection_Action_Record</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Clone_Condition_Record</name>
        <label>Create Clone Condition Record</label>
        <locationX>1711</locationX>
        <locationY>558</locationY>
        <connector>
            <targetReference>Check_If_Clone_Rule_Action</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>Collection_Condition_Record</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Engine</name>
        <label>Create New Engine</label>
        <locationX>1112</locationX>
        <locationY>333</locationY>
        <connector>
            <targetReference>Check_If_Clone</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ApprovalStatus__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Currency_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FIN_Approver__c</field>
            <value>
                <elementReference>Approver_Lookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FIN_AssociatedContract__c</field>
            <value>
                <elementReference>AssociatedContractLookUp.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FIN_Condition__c</field>
            <value>
                <elementReference>Condition_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FIN_Object__c</field>
            <value>
                <elementReference>Object_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FIN_OrderNumber__c</field>
            <value>
                <elementReference>Get_Engine_Record.FIN_OrderNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FIN_Region__c</field>
            <value>
                <elementReference>Region_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FIN_Reviewer__c</field>
            <value>
                <elementReference>Reviewer_Lookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FIN_Type__c</field>
            <value>
                <elementReference>Get_Engine_Record.FIN_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Engine_Record.RecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rule_Description__c</field>
            <value>
                <elementReference>Rule_Description_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isActive__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>FIN_AXSRuleEngine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Engine_Record</name>
        <label>Get Engine Record</label>
        <locationX>776</locationX>
        <locationY>187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Engine_Clone_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetEngineId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FIN_AXSRuleEngine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Rule_Action</name>
        <label>Get Rule Action</label>
        <locationX>1449</locationX>
        <locationY>746</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Related_Condition_Exist_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FIN_SortingRule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Engine_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FIN_AXSRuleAction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Rule_Condition</name>
        <label>Get Rule Condition</label>
        <locationX>1476</locationX>
        <locationY>329</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Related_Condition_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FIN_SortingRule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Engine_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FIN_AXSRuleCondition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Engine_Clone_Screen</name>
        <label>Engine Clone Screen</label>
        <locationX>779</locationX>
        <locationY>335</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Record_Screen</targetReference>
        </connector>
        <fields>
            <name>Select_Record_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Select related recor﻿d to clone:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AXS_Rule_Conditions_Checkbox</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>AXS Rule Conditions</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AXS_Rule_Actions_Checkbox</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>AXS Rule Actions</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1119</locationX>
        <locationY>1164</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorText</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Success</name>
        <label>Screen Success</label>
        <locationX>1281</locationX>
        <locationY>1014</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Screen_Success_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(92, 182, 17);&quot;&gt;Contract has been cloned.&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;/{!Create_New_Engine}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(82, 122, 231);&quot;&gt;Click here to open Engine Rule&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Record_Screen</name>
        <label>Select Record Screen</label>
        <locationX>963</locationX>
        <locationY>335</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Engine</targetReference>
        </connector>
        <fields>
            <name>Information</name>
            <fieldText>Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Rule_Description_Screen</name>
                    <dataType>String</dataType>
                    <fieldText>Rule Description</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Object_Screen</name>
                    <choiceReferences>Object_PickList</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Engine_Record.FIN_Object__c</elementReference>
                    </defaultValue>
                    <fieldText>Object</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>AssociatedContractLookUp</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>FIN_AssociatedContract__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>FIN_AXSRuleEngine__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Associated Contract</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Engine_Record.FIN_AssociatedContract__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Approver_Lookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>FIN_Approver__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Approver</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>FIN_AXSRuleEngine__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Engine_Record.FIN_Approver__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Reviewer_Lookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Reviewer</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>FIN_Reviewer__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>FIN_AXSRuleEngine__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Engine_Record.FIN_Reviewer__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Currency_Screen</name>
                    <choiceReferences>Currency_PickList</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Engine_Record.CurrencyIsoCode</elementReference>
                    </defaultValue>
                    <fieldText>Currency</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Region_Screen</name>
                    <choiceReferences>Region_PickList</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Engine_Record.FIN_Region__c</elementReference>
                    </defaultValue>
                    <fieldText>Region</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Condition_Screen</name>
                    <choiceReferences>Condition_PickList</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Engine_Record.FIN_Condition__c</elementReference>
                    </defaultValue>
                    <fieldText>Condition</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Engine_Record</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Collection_Action_Record</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FIN_AXSRuleAction__c</objectType>
    </variables>
    <variables>
        <name>Collection_Approval_Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sbaa__Approval__c</objectType>
    </variables>
    <variables>
        <name>Collection_Condition_Record</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FIN_AXSRuleCondition__c</objectType>
    </variables>
    <variables>
        <name>GetEngineId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
