force-app/main/default/flows/FIN_Prevent_Create_Duplicate_Record_Associated_Contract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Run_Validation_Rule</name>
        <label>Run Validation Rule</label>
        <locationX>242</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.FIN_TF_Validation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PreventCreateDuplicate</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_If_Duplicated_Record_Exist</name>
        <label>Check If Duplicated Record Exist</label>
        <locationX>374</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Record_Similar_To_Other</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Validation_Rule</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckContractApprovalStatus</name>
        <label>CheckContractApprovalStatus</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Check_If_Duplicated_Record_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isNotDeactivated</defaultConnectorLabel>
        <rules>
            <name>isDeactivated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contract__r.ApprovalStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>&apos;Deactivated&apos;</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>&apos;Deactivated&apos;</stringValue>
                </rightValue>
            </conditions>
            <label>isDeactivated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>FIN Prevent Create Duplicate Record Associated Contract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FIN Prevent Create Duplicate Record Contract Association</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Record_Similar_To_Other</name>
        <label>Get Record Similar To Other</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckContractApprovalStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FIN_Venue__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FIN_Venue__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Context__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Context__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>FIN_AXS_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FIN_AXS_Event__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Client__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>FIN_Event_Zone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FIN_Event_Zone__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContractAssociation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Similar_To_Other</targetReference>
        </connector>
        <object>ContractAssociation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
