force-app/main/default/flows/FIN_Override_New_Button_Consumptions_Schedule.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Overite_Finish_Button</name>
        <label>Override Finish Button</label>
        <locationX>176</locationX>
        <locationY>1310</locationY>
        <actionName>c:OverrideFinishButton</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>New_Consumption_Schedule.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assignee_Fields_To_New_Consumption_Schedule_Record</name>
        <label>Assignee Fields To New Consumption Schedule Record</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>New_Consumption_Schedule.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consumption_Schedule_Name_Screen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Consumption_Schedule.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description_Screen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Consumption_Schedule.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Lookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Consumption_Schedule.FIN_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date_Screen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Consumption_Schedule.FIN_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_Date_Screen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Consumption_Schedule.FIN_Starting_Ticket_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Starting_Ticket_Count_Screen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Consumption_Schedule.FIN_Starting_Revenue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Starting_Revenue_Screen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Consumption_Schedule.FIN_Actual_Revenue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Actual_Revenue_Screen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Consumption_Schedule.Recoupment_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recoupment_Balance_Screen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Consumption_Schedule.Starting_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Starting_Balance_Screen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Consumption_Schedule.Accumulation_to_Target__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Accumulation_to_Target_Screen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Consumption_Schedule.Actual_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Actual_Balance_Screen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Consumption_Schedule.FIN_Conditional_Logic__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Conditional_Logic_Screen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Consumption_Schedule.Advanced_Custom_Logic__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Advanced_Custom_Logic_Screen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Consumption_Schedule.FIN_Financial_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Financial_Code_Lookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Consumption_Schedule.RatingMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tier</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Consumption_Schedule.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Range</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Consumption_Schedule.SBQQ__Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rates</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Consumption_Schedule.BillingTerm</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Consumption_Schedule.BillingTermUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Month</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Record_Types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignee_RecordType_To_New_Consumption_Schedule</name>
        <label>Assignee RecordType To New Consumption Schedule</label>
        <locationX>264</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>New_Consumption_Schedule.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Accumulation_to_Target_Choise</name>
        <choiceText>Accumulation to Target</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Accumulation_to_Target_Definition</elementReference>
        </value>
    </choices>
    <choices>
        <name>Advance_Recoupment_Choise</name>
        <choiceText>Advance Recoupment</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Advance_Recoupment_Definition</elementReference>
        </value>
    </choices>
    <choices>
        <name>Revenue_Amount_Choise</name>
        <choiceText>Revenue Amount</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Revenue_Amount_Definition</elementReference>
        </value>
    </choices>
    <choices>
        <name>Ticket_Quantity_Choise</name>
        <choiceText>Ticket Quantity</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Ticket_Quantity_Definition</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Check_If_Record_Type_is_Correct</name>
        <label>Check If Record Type is Correct</label>
        <locationX>396</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Loop_Through</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Radio_Button_Select_Record_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Through.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignee_RecordType_To_New_Consumption_Schedule</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Conditional_Logic_PickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FIN_Conditional_Logic__c</picklistField>
        <picklistObject>ConsumptionSchedule</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Fromula_Referral_of_Record</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) + &quot;lightning/r/ConsumptionSchedule/&quot; + {!New_Consumption_Schedule.Id} + &quot;/view&quot;</expression>
    </formulas>
    <interviewLabel>FIN Override New Button Consumptions Schedule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FIN Override New Button Consumptions Schedule</label>
    <loops>
        <name>Loop_Through</name>
        <label>Loop Through RecordType</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <collectionReference>Get_Record_Types</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_If_Record_Type_is_Correct</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Consumption_Schedule</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Consumption_Schedule</name>
        <label>Create Consumption Schedule</label>
        <locationX>176</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Overite_Finish_Button</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Screen_Error</targetReference>
        </faultConnector>
        <inputReference>New_Consumption_Schedule</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Record_Types</name>
        <label>Get Record Types</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ticket Quantity</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accumulation to Target</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Advance Recoupment</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FIN Consumption Schedule</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Revenue Amount</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>New_Consumption_Screen</name>
        <label>New Consumption Schedule</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assignee_Fields_To_New_Consumption_Schedule_Record</targetReference>
        </connector>
        <fields>
            <name>NewConsumptionText</name>
            <fieldText>&lt;h2 style=&quot;text-align: center;&quot;&gt;New Consumption Schedule: {!Radio_Button_Select_Record_Type}&lt;/h2&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Information_Section</name>
            <fieldText>Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Information_Section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Consumption_Schedule_Name_Screen</name>
                    <dataType>String</dataType>
                    <fieldText>Consumption Schedule Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Description_Screen</name>
                    <dataType>String</dataType>
                    <fieldText>Description</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Contract_Lookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contract</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>ConsumptionSchedule</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Contract__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Information_Section_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Start_Date_Screen</name>
                    <dataType>Date</dataType>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>End_Date_Screen</name>
                    <dataType>Date</dataType>
                    <fieldText>End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Accumulator_Details_Section</name>
            <fieldText>Accumulator Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Accumulator_Details_Section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Starting_Ticket_Count_Screen</name>
                    <dataType>Number</dataType>
                    <fieldText>Starting Ticket Count</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>3</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Radio_Button_Select_Record_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Ticket_Quantity_Definition</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Starting_Revenue_Screen</name>
                    <dataType>Number</dataType>
                    <fieldText>Starting Revenue</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Radio_Button_Select_Record_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Revenue_Amount_Definition</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Actual_Revenue_Screen</name>
                    <dataType>Number</dataType>
                    <fieldText>Actual Revenue</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Radio_Button_Select_Record_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Revenue_Amount_Definition</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Actual_Ticket_Count_Screen</name>
                    <dataType>Number</dataType>
                    <fieldText>Actual Ticket Count</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Radio_Button_Select_Record_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Ticket_Quantity_Definition</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Recoupment_Balance_Screen</name>
                    <dataType>Number</dataType>
                    <fieldText>Recoupment Balance</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Radio_Button_Select_Record_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Advance_Recoupment_Definition</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Accumulation_to_Target_Screen</name>
                    <dataType>Number</dataType>
                    <fieldText>Accumulation to Target</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Radio_Button_Select_Record_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accumulation_to_Target_Definition</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Starting_Balance_Screen</name>
                    <dataType>Number</dataType>
                    <fieldText>Starting Balance</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Radio_Button_Select_Record_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Advance_Recoupment_Definition</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Radio_Button_Select_Record_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accumulation_to_Target_Definition</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Actual_Balance_Screen</name>
                    <dataType>Number</dataType>
                    <fieldText>Actual Balance</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Radio_Button_Select_Record_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Accumulation_to_Target_Definition</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Radio_Button_Select_Record_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Advance_Recoupment_Definition</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Accumulator_Details_Section_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Conditional_Logic_Screen</name>
                    <choiceReferences>Conditional_Logic_PickList</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>AND</stringValue>
                    </defaultValue>
                    <fieldText>Conditional Logic</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Advanced_Custom_Logic_Screen</name>
                    <dataType>String</dataType>
                    <fieldText>Advanced Custom Logic</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Financial_Code_Lookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>ConsumptionSchedule</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Financial Code</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>FIN_Financial_Code__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Error</name>
        <label>Screen_Error</label>
        <locationX>440</locationX>
        <locationY>1310</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Text_Error</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>$Flow.FaultMessage</elementReference>
            </defaultValue>
            <fieldText>Text_Error</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>New Consumption Schedule</description>
        <name>Select_RecordType_Screen</name>
        <label>Select_RecordType_Screen</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>New_Consumption_Screen</targetReference>
        </connector>
        <fields>
            <name>Radio_Button_Select_Record_Type</name>
            <choiceReferences>Ticket_Quantity_Choise</choiceReferences>
            <choiceReferences>Accumulation_to_Target_Choise</choiceReferences>
            <choiceReferences>Advance_Recoupment_Choise</choiceReferences>
            <choiceReferences>Revenue_Amount_Choise</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select  Accumulation Type:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Select_RecordType_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_RecordType_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Select_RecordType_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Accumulation_to_Target_Definition</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Accumulation to Target</stringValue>
        </value>
    </variables>
    <variables>
        <name>Advance_Recoupment_Definition</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Advance Recoupment</stringValue>
        </value>
    </variables>
    <variables>
        <name>New_Consumption_Schedule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ConsumptionSchedule</objectType>
    </variables>
    <variables>
        <name>Revenue_Amount_Definition</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Revenue Amount</stringValue>
        </value>
    </variables>
    <variables>
        <name>testtest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Create_Consumption_Schedule</elementReference>
        </value>
    </variables>
    <variables>
        <name>Ticket_Quantity_Definition</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Ticket Quantity</stringValue>
        </value>
    </variables>
</Flow>
