force-app/main/default/flows/FIN_User_Creation_CurrentRegion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <description>Set Current Region = N/A</description>
        <name>Is_Portal_User</name>
        <label>Is Portal User</label>
        <locationX>842</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Get_US_Region_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Portal_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsPortalEnabled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Region_N_A</targetReference>
            </connector>
            <label>Portal User</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Current_Region</name>
        <label>New Current Region</label>
        <locationX>842</locationX>
        <locationY>1403</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>US_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FIN_Current_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_User_To_US_Region_Group</targetReference>
            </connector>
            <label>US</label>
        </rules>
        <rules>
            <name>UK_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FIN_Current_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_User_To_UK_Region_Group</targetReference>
            </connector>
            <label>UK</label>
        </rules>
        <rules>
            <name>SWE_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FIN_Current_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SWE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_User_To_SWE_Region_Group</targetReference>
            </connector>
            <label>SWE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Old_Current_Region</name>
        <label>Old Current Region</label>
        <locationX>842</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>New_Current_Region</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>US</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.FIN_Current_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_User_From_US_Region_Group</targetReference>
            </connector>
            <label>US</label>
        </rules>
        <rules>
            <name>UK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.FIN_Current_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_User_From_UK_Region_Group</targetReference>
            </connector>
            <label>UK</label>
        </rules>
        <rules>
            <name>SWE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.FIN_Current_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SWE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_User_From_SWE_Region_Group</targetReference>
            </connector>
            <label>SWE</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>FIN User Creation / CurrentRegion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FIN User Creation / CurrentRegion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_User_To_SWE_Region_Group</name>
        <label>Add User To SWE Region Group</label>
        <locationX>974</locationX>
        <locationY>1523</locationY>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>Get_SWE_Region_Group.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_User_To_UK_Region_Group</name>
        <label>Add User To UK Region Group</label>
        <locationX>710</locationX>
        <locationY>1523</locationY>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>Get_UK_Region_Group.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_User_To_US_Region_Group</name>
        <label>Add User To US Region Group</label>
        <locationX>446</locationX>
        <locationY>1523</locationY>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>Get_US_Region_Group.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Remove_User_From_SWE_Region_Group</name>
        <label>Remove User From SWE Region Group</label>
        <locationX>1106</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>New_Current_Region</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>New_Current_Region</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_SWE_Region_Group.Id</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
    </recordDeletes>
    <recordDeletes>
        <name>Remove_User_From_UK_Region_Group</name>
        <label>Remove User From UK Region Group</label>
        <locationX>578</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>New_Current_Region</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>New_Current_Region</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_UK_Region_Group.Id</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
    </recordDeletes>
    <recordDeletes>
        <name>Remove_User_From_US_Region_Group</name>
        <label>Remove User From US Region Group</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>New_Current_Region</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>New_Current_Region</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_US_Region_Group.Id</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_SWE_Region_Group</name>
        <label>Get SWE Region Group</label>
        <locationX>842</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Old_Current_Region</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SWE Region</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_UK_Region_Group</name>
        <label>Get UK Region Group</label>
        <locationX>842</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SWE_Region_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>UK Region</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_US_Region_Group</name>
        <label>Get US Region Group</label>
        <locationX>842</locationX>
        <locationY>671</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_UK_Region_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>US Region</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Region_N_A</name>
        <label>Set Region = N/A</label>
        <locationX>710</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Get_US_Region_Group</targetReference>
        </connector>
        <inputAssignments>
            <field>FIN_Current_Region__c</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Portal_User</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>FIN_Current_Region__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
