force-app/main/default/flows/FIN_Settlement_Item_Entry_Type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <constants>
        <name>null</name>
        <dataType>String</dataType>
    </constants>
    <environments>Default</environments>
    <interviewLabel>FIN_Settlement_Item_Entry_Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FIN_Settlement_Item_Entry_Type</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_EntryType_ManualAdjustment</name>
        <label>Update Entry Type Manual Adjustment</label>
        <locationX>585</locationX>
        <locationY>468</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FIN_PaymentDistribution__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>null</elementReference>
            </value>
        </filters>
        <filters>
            <field>FIN_LibraryAssociation__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>null</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FIN_EntryType__c</field>
            <value>
                <stringValue>Manual Adjustment</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_EntryType_StandardEntry</name>
        <label>Update Entry Type Standard Entry</label>
        <locationX>585</locationX>
        <locationY>327</locationY>
        <connector>
            <targetReference>Update_EntryType_ManualAdjustment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FIN_PaymentDistribution__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>null</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FIN_EntryType__c</field>
            <value>
                <stringValue>Standard Entry</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Update_EntryType_StandardEntry</targetReference>
        </connector>
        <object>FIN_SettlementItem__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
