force-app/main/default/flows/FIN_AXSRuleActionUpdates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>FIN_AXSRuleActionUpdates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FIN_AXSRuleActionUpdates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Update Destination Field Value = FIN_StatusFieldValue__c</description>
        <name>Update_Destination_Field_Value</name>
        <label>Update Destination Field Value</label>
        <locationX>582</locationX>
        <locationY>376</locationY>
        <connector>
            <targetReference>Update_Fields_on_Action_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>FIN_DestinationFieldValue__c</field>
            <value>
                <elementReference>$Record.FIN_StatusFieldValue__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Fields_on_Action_Record</name>
        <label>Update Fields on Action Record</label>
        <locationX>582</locationX>
        <locationY>527</locationY>
        <connector>
            <targetReference>Update_Reviewer_Field_on_Action_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FIN_Library_Association__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>FIN_DestinationFieldValue__c</field>
            <value>
                <elementReference>$Record.FIN_Library_Association__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Reviewer_Field_on_Action_Record</name>
        <label>Update Reviewer Field on Action Record</label>
        <locationX>580</locationX>
        <locationY>686</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FIN_Reviewer__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FIN_DestinationField__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FIN_Reviewer__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>FIN_Object__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Sales Transactions</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>FIN_DestinationFieldValue__c</field>
            <value>
                <elementReference>$Record.FIN_Reviewer__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Update_Destination_Field_Value</targetReference>
        </connector>
        <object>FIN_AXSRuleAction__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
