force-app/main/default/flows/FIN_Contract_Clone_with_Related.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AssignEngineRecord</name>
        <label>Assign Engine Record</label>
        <locationX>1342</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>CollectionEngineRule</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopRuleEngine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRuleEngine</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSubContract</name>
        <label>Assign SubContract</label>
        <locationX>1328</locationX>
        <locationY>922</locationY>
        <assignmentItems>
            <assignToReference>CollectionSubContract</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopSubContract</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopSubContract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetValuesToEngineRuleRecord</name>
        <label>Set Values to EngineRule Record</label>
        <locationX>1347</locationX>
        <locationY>721</locationY>
        <assignmentItems>
            <assignToReference>LoopRuleEngine.FIN_AssociatedContract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateNewContract</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopRuleEngine.isActive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopRuleEngine.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractCurrencyPicklistScreen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopRuleEngine.FIN_Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RegionPicklistScreen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopRuleEngine.ApprovalStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignEngineRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetValuesToSubContractRecord</name>
        <label>Set Values to SubContract Record</label>
        <locationX>1328</locationX>
        <locationY>1075</locationY>
        <assignmentItems>
            <assignToReference>LoopSubContract.FIN_ParentContract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateNewContract</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopSubContract.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopSubContract.ApprovalStatus__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopSubContract.FIN_SettlementReportGroup__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopSubContract.FIN_SettlementReportMode__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>AssignSubContract</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckIfCloneContractRule</name>
        <label>Clone Contract Rule?</label>
        <locationX>730</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>CHeckIfCloneSubContract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EngineRuleCheckbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRuleEngine</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CHeckIfCloneSubContract</name>
        <label>Clone SubContract?</label>
        <locationX>728</locationX>
        <locationY>785</locationY>
        <defaultConnector>
            <targetReference>Success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SubContractsCheckbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetSubcontract</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfRelatedRecordExist</name>
        <label>Check if Related Record Exist</label>
        <locationX>977</locationX>
        <locationY>653</locationY>
        <defaultConnector>
            <targetReference>CHeckIfCloneSubContract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRuleEngine</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopRuleEngine</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfSubContractRecordExist</name>
        <label>CheckIfSubContractRecordExist</label>
        <locationX>1001</locationX>
        <locationY>983</locationY>
        <defaultConnector>
            <targetReference>Success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetSubcontract</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopSubContract</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ContractCurrencyPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CurrencyIsoCode</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OwnerExpirationNoticePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>OwnerExpirationNotice</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RegionPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FIN_Region__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StatusName</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>FIN Contract Clone with Related2 {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>FIN Contract Clone with Related</label>
    <loops>
        <name>LoopRuleEngine</name>
        <label>Loop RuleEngine</label>
        <locationX>1167</locationX>
        <locationY>651</locationY>
        <collectionReference>GetRuleEngine</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetValuesToEngineRuleRecord</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateEngineRule</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopSubContract</name>
        <label>Loop SubContract</label>
        <locationX>1164</locationX>
        <locationY>990</locationY>
        <collectionReference>GetSubcontract</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetValuesToSubContractRecord</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateSubContract</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateEngineRule</name>
        <label>Create Engine Rule</label>
        <locationX>1163</locationX>
        <locationY>835</locationY>
        <connector>
            <targetReference>CHeckIfCloneSubContract</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputReference>CollectionEngineRule</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateNewContract</name>
        <label>Create New Contract</label>
        <locationX>568</locationX>
        <locationY>513</locationY>
        <connector>
            <targetReference>CheckIfCloneContractRule</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>NewBillingAddress.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>NewBillingAddress.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>NewBillingAddress.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>NewBillingAddress.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>NewBillingAddress.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractTerm</field>
            <value>
                <elementReference>ContractTermScreen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>ContractCurrencyPicklistScreen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>DescriptionScreen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FIN_Context__c</field>
            <value>
                <elementReference>ContextLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FIN_Region__c</field>
            <value>
                <elementReference>RegionPicklistScreen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ContractNameScreen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Contract_Record.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SpecialTerms</field>
            <value>
                <elementReference>SpecialTermsScreen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>ContractStartDateScreen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateSubContract</name>
        <label>Create SubContract</label>
        <locationX>1165</locationX>
        <locationY>1159</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputReference>CollectionSubContract</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contract_Record</name>
        <label>Get Contract Record</label>
        <locationX>158</locationX>
        <locationY>392</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SCRCloneContractWithRelatedRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetContractId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRuleEngine</name>
        <label>Get Rule Engine</label>
        <locationX>862</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckIfRelatedRecordExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FIN_AssociatedContract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contract_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FIN_AXSRuleEngine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSubcontract</name>
        <label>Get Subcontract</label>
        <locationX>862</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckIfSubContractRecordExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FIN_ParentContract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contract_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>386</locationX>
        <locationY>991</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorText</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCRCloneContractWithRelatedRecords</name>
        <label>Clone Contract Screen With Records</label>
        <locationX>160</locationX>
        <locationY>515</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SCRCloneSelectedContractData</targetReference>
        </connector>
        <fields>
            <name>ChooseRecordClone</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Select related recor﻿d to clone:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SCRCloneContractWithRelatedRecords_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SCRCloneContractWithRelatedRecords_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SubContractsCheckbox</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>SubContracts</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SCRCloneContractWithRelatedRecords_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EngineRuleCheckbox</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Engine Rule</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SCRCloneSelectedContractData</name>
        <label>Clone Selected Contract Data</label>
        <locationX>374</locationX>
        <locationY>516</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateNewContract</targetReference>
        </connector>
        <fields>
            <name>GeneralInformationScreen</name>
            <fieldText>General Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>GeneralInformationScreen_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AccountLookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>AccountId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Contract</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Contract_Record.AccountId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>ContractNameScreen</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Contract_Record.Name</elementReference>
                    </defaultValue>
                    <fieldText>Contract Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>ContextLookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>FIN_Context__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Context</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Contract</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Contract_Record.FIN_Context__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>GeneralInformationScreen_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RegionPicklistScreen</name>
                    <choiceReferences>RegionPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Contract_Record.FIN_Region__c</elementReference>
                    </defaultValue>
                    <fieldText>Region</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>ContractCurrencyPicklistScreen</name>
                    <choiceReferences>ContractCurrencyPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Contract_Record.CurrencyIsoCode</elementReference>
                    </defaultValue>
                    <fieldText>Contract Currency</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>ContractInformationScreen</name>
            <fieldText>Contract Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ContractInformationScreen_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ContractTermScreen</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Contract_Record.ContractTerm</elementReference>
                    </defaultValue>
                    <fieldText>Contract Term (months)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>ContractStartDateScreen</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Get_Contract_Record.StartDate</elementReference>
                    </defaultValue>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ContractInformationScreen_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>AddressInformationScreen</name>
            <fieldText>Address Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>AddressInformationScreen_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NewBillingAddress</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>city</name>
                        <value>
                            <elementReference>Get_Contract_Record.BillingCity</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>country</name>
                        <value>
                            <elementReference>Get_Contract_Record.BillingCountry</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>addressLabel</name>
                        <value>
                            <stringValue>Billing Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>postalCode</name>
                        <value>
                            <elementReference>Get_Contract_Record.BillingPostalCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>province</name>
                        <value>
                            <elementReference>Get_Contract_Record.BillingState</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>street</name>
                        <value>
                            <elementReference>Get_Contract_Record.BillingStreet</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>AddressInformationScreen_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>DescriptionInformationScreen</name>
            <fieldText>Description Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>DescriptionInformationScreen_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SpecialTermsScreen</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Contract_Record.SpecialTerms</elementReference>
                    </defaultValue>
                    <fieldText>Special Terms</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>DescriptionScreen</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Contract_Record.Description</elementReference>
                    </defaultValue>
                    <fieldText>Description</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>886</locationX>
        <locationY>1353</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(92, 182, 17);&quot;&gt;Contract has been cloned.&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;/{!CreateNewContract}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(60, 163, 215);&quot;&gt;Click here to open Contract&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>288</locationY>
        <connector>
            <targetReference>Get_Contract_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CollectionEngineRule</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FIN_AXSRuleEngine__c</objectType>
    </variables>
    <variables>
        <name>CollectionSubContract</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>GetContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RuleEngineCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RuleEngineCollention</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FIN_AXSRuleEngine__c</objectType>
    </variables>
</Flow>
