force-app/main/default/flows/FIN_CountSubcontractsOnContract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Count_Active_SubContrs</name>
        <label>Count Active SubContrs</label>
        <locationX>2087</locationX>
        <locationY>681</locationY>
        <assignmentItems>
            <assignToReference>CountActiveSubContracts</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Active_SubContrs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_All_SubContrs</name>
        <label>Count All SubContrs</label>
        <locationX>1875</locationX>
        <locationY>497</locationY>
        <assignmentItems>
            <assignToReference>CountTotalSubContracts</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_SubContrs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountActiveSubContr</name>
        <label>Count Active SubContr</label>
        <locationX>1300</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>CountActiveSubContracts</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Active_SubContracts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountAllSubContracts</name>
        <label>CountAllSubContracts</label>
        <locationX>1117</locationX>
        <locationY>552</locationY>
        <assignmentItems>
            <assignToReference>CountTotalSubContracts</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_Subcontracts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contract_or_Subcontract</name>
        <label>Contract or Subcontract?</label>
        <locationX>1439</locationX>
        <locationY>161</locationY>
        <defaultConnector>
            <targetReference>Get_Parent_Contract_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>is Subcontract</defaultConnectorLabel>
        <rules>
            <name>isContract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ContractRTId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Subcontracts</targetReference>
            </connector>
            <label>is Contract</label>
        </rules>
    </decisions>
    <description>Update FIN_ActiveSubcontracts__c and FIN_TotalSubcontracts__c</description>
    <environments>Default</environments>
    <interviewLabel>Count Subcontracts on a Contract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Count Subcontracts on Contract</label>
    <loops>
        <name>Loop_Active_SubContracts</name>
        <label>Loop Active SubContracts</label>
        <locationX>1525</locationX>
        <locationY>738</locationY>
        <collectionReference>Get_Active_Subcontracts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CountActiveSubContr</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contract_Fields</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Active_SubContrs</name>
        <label>Loop Active SubContrs</label>
        <locationX>2304</locationX>
        <locationY>682</locationY>
        <collectionReference>Get_All_Active_SubContrs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count_Active_SubContrs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Parent_Contract</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_All_Subcontracts</name>
        <label>Loop All Subcontracts</label>
        <locationX>1290</locationX>
        <locationY>550</locationY>
        <collectionReference>Get_Subcontracts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CountAllSubContracts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Active_Subcontracts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_All_SubContrs</name>
        <label>Loop All SubContrs</label>
        <locationX>2068</locationX>
        <locationY>498</locationY>
        <collectionReference>Get_All_SubContrs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count_All_SubContrs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_All_Active_SubContrs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Active_Subcontracts</name>
        <label>Get Active Subcontracts</label>
        <locationX>1513</locationX>
        <locationY>552</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Active_SubContracts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SubcontractRTId</elementReference>
            </value>
        </filters>
        <filters>
            <field>FIN_ParentContract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FIN_ActiveStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Active_SubContrs</name>
        <label>Get All Active SubContrs</label>
        <locationX>2306</locationX>
        <locationY>501</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Active_SubContrs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SubcontractRTId</elementReference>
            </value>
        </filters>
        <filters>
            <field>FIN_ParentContract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentContractId</elementReference>
            </value>
        </filters>
        <filters>
            <field>FIN_ActiveStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_SubContrs</name>
        <label>Get All SubContrs</label>
        <locationX>2068</locationX>
        <locationY>322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_All_SubContrs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SubcontractRTId</elementReference>
            </value>
        </filters>
        <filters>
            <field>FIN_ParentContract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentContractId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contract_RT_Id</name>
        <label>Get Contract RT Id</label>
        <locationX>916</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Subcontract_RT_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FIN_USMaster</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>ContractRTId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Contract_Id</name>
        <label>Get Parent Contract Id</label>
        <locationX>1683</locationX>
        <locationY>165</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_SubContrs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputAssignments>
            <assignToReference>ParentContractId</assignToReference>
            <field>FIN_ParentContract__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Subcontract_RT_Id</name>
        <label>Get Subcontract RT Id</label>
        <locationX>1086</locationX>
        <locationY>159</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contract_or_Subcontract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FIN_USSubContract</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>SubcontractRTId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Subcontracts</name>
        <label>Get All Subcontracts</label>
        <locationX>1290</locationX>
        <locationY>409</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_All_Subcontracts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SubcontractRTId</elementReference>
            </value>
        </filters>
        <filters>
            <field>FIN_ParentContract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contract_Fields</name>
        <label>Update Contract Fields</label>
        <locationX>1525</locationX>
        <locationY>1014</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FIN_ActiveSubcontracts__c</field>
            <value>
                <elementReference>CountActiveSubContracts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FIN_TotalSubcontracts__c</field>
            <value>
                <elementReference>CountTotalSubContracts</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Contract</name>
        <label>Update Parent Contract</label>
        <locationX>2308</locationX>
        <locationY>939</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentContractId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FIN_ActiveSubcontracts__c</field>
            <value>
                <elementReference>CountActiveSubContracts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FIN_TotalSubcontracts__c</field>
            <value>
                <elementReference>CountTotalSubContracts</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <start>
        <locationX>432</locationX>
        <locationY>67</locationY>
        <connector>
            <targetReference>Get_Contract_RT_Id</targetReference>
        </connector>
        <object>Contract</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ContractRTId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CountActiveSubContracts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountTotalSubContracts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>FIN_USMaster</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>FIN_USMaster</stringValue>
        </value>
    </variables>
    <variables>
        <name>FIN_USSubContract</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>FIN_USSubContract</stringValue>
        </value>
    </variables>
    <variables>
        <name>ParentContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubcontractRTId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
