force-app/main/default/flows/Restart_Master_Load.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assignee_New_Value</name>
        <label>Assignee New Value</label>
        <locationX>138</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>UpdatedFinanceRawDataLogs.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Raw_Data_Logs_US.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedFinanceRawDataLogs.FIN_BusinessRuleStartTime__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedFinanceRawDataLogs.FIN_BusinessRuleEndTime__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedFinanceRawDataLogs.FIN_ProcessCompletionStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In-Progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedFinanceRawDataLogs.FIN_SalesforceRulesStartTime__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedFinanceRawDataLogs.FIN_SalesforceRulesStatus__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedFinanceRawDataLogs.FIN_BusinessRuleProcessCompleteStatus__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedFinanceRawDataLogs.FIN_SalesforceRulesEndTime__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedFinanceRawDataLogs.FIN_StagingTableLoadBusinessApproved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedFinanceRawDataLogs.FIN_ReturnedFromSaleTransactions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignee_Updated_Record_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignee_Updated_Record_To_Collection</name>
        <label>Assignee Updated Record To Collection</label>
        <locationX>138</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Collection_Finance_Raw_Data_Logs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UpdatedFinanceRawDataLogs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Raw_Data_Logs_US</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Confirmation_Yes</name>
        <label>Confirmation = Yes</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Restart</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Confirm_Restart_Load</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Master_Data_Load_Record</targetReference>
            </connector>
            <label>Yes Restart</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Restart Master Load {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Restart Master Load</label>
    <loops>
        <name>Loop_Through_Raw_Data_Logs_US</name>
        <label>Loop Through Raw Data Logs US</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <collectionReference>Get_Finance_Raw_Data_Logs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignee_New_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Finance_Raw_Data_Logs_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Finance_Raw_Data_Logs</name>
        <label>Get Finance Raw Data Logs</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Raw_Data_Logs_US</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Master_Data_Load_Record.Sales__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Master_Data_Load_Record.Payment__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Master_Data_Load_Record.Payment_Distribution__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FIN_SystemDataLoadLog__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Master_Data_Load_Record</name>
        <label>Get Master Data Load Record</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Finance_Raw_Data_Logs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Master_Data_Load__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Finance_Raw_Data_Logs_Records</name>
        <label>Update Finance Raw Data Logs Records</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>Collection_Finance_Raw_Data_Logs</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <description>Confirm Restart Process</description>
        <name>Confirm_Restart_Process</name>
        <label>Confirm Restart Process</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirmation_Yes</targetReference>
        </connector>
        <fields>
            <name>Confirm_Restart_Load</name>
            <dataType>Boolean</dataType>
            <fieldText>Confirm Restart Load</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_text</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Confirm_Restart_Process</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Collection_Finance_Raw_Data_Logs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FIN_SystemDataLoadLog__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatedFinanceRawDataLogs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FIN_SystemDataLoadLog__c</objectType>
    </variables>
</Flow>
