force-app/main/default/flows/Run_Settlement_Report_RT.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Get_List_of_Settlement_Groups</name>
        <label>Get List of Settlement Groups</label>
        <locationX>206</locationX>
        <locationY>510</locationY>
        <assignmentItems>
            <assignToReference>Groups</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_SubContracts_Groups.FIN_SubContract__r.FIN_SettlementReportGroup__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_SubContracts_Groups</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choise</name>
        <choiceText>Grouping mode:</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>currentItem_Unique_groups</elementReference>
        </value>
    </choices>
    <collectionProcessors>
        <name>Unique_groups</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Unique groups</label>
        <locationX>29</locationX>
        <locationY>509</locationY>
        <assignNextValueToReference>currentItem_Unique_groups</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Groups</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Unique_groups</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <elementReference>Get_SubContracts_Groups.FIN_SubContract__r.FIN_SettlementReportGroup__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Get_List_of_Settlement_Groups</targetReference>
        </connector>
    </collectionProcessors>
    <environments>Default</environments>
    <interviewLabel>Run Settlement Report_RT {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Run Settlement Report_RT</label>
    <loops>
        <name>Get_SubContracts_Groups</name>
        <label>Get SubContracts Groups</label>
        <locationX>126</locationX>
        <locationY>282</locationY>
        <collectionReference>All_SIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Unique_groups</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Select_draft_reports_to_create</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_SIs</name>
        <label>Get Settlement Items</label>
        <locationX>323</locationX>
        <locationY>117</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SubContracts_Groups</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FIN_ParentSettlementSchedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </filters>
        <object>FIN_SettlementItem__c</object>
        <outputReference>All_SIs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FIN_SubContract__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Select_draft_reports_to_create</name>
        <label>Select draft reports to create</label>
        <locationX>579</locationX>
        <locationY>290</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>choose</name>
            <choiceReferences>choise</choiceReferences>
            <dataType>String</dataType>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_SIs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>All_SIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FIN_SettlementItem__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Unique_groups</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Groups</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
